[2018-05-09 21:53] fabiand opened #20 "Link CoC"
https://github.com/kubevirt/kubevirt/pull/1008 pointed out that the code of conduct is not linked.

We should link to it from somewhere.

[2018-05-30 01:19] scollier opened #40 "Fix blog link"
Right now the link points to:

http://www.kubevirt.io/kv-blog/

that was a temporary fix and now it needs to be reverted back to /blog.

[2018-05-30 08:43] eldan commented on #40
Will be fixed with the pagination fixed

[2018-05-30 20:34] booxter opened #42 "Explain the difference between KubeVirt and other virtualization related k8s projects"
People are confused by relationship to Kata Containers or virtlet. It may make sense to explain the difference somewhere on the website. Maybe it's a good start for a FAQ section that seems to be missing.

[2018-06-06 18:32] scollier opened #47 "clean up readme"
right now it's pretty useless.

[2018-06-07 15:05] scollier opened #50 "fix faq and technology comparison"
I merged in #10 and the files are there, but they need to be organized and presented on the website properly.  The files were merged after the website was overhauled.

[2018-06-09 00:39] scollier opened #51 "404 error - broken link on the "community" page"
http://kubevirt.io/community/docs/

[2018-06-09 00:39] scollier commented on #51
http://kubevirt.io/community/docs/getting-started.md

[2018-06-09 00:40] scollier commented on #51
http://kubevirt.io/community/docs/getting-started.md#testing

[2018-06-09 00:40] scollier commented on #51
http://kubevirt.io/community/docs/

All the /docs links are broken.

[2018-06-11 10:45] rmohr opened #52 "Let important redirects redirect to https"
These pages should redirect to their https equivalent, but do not:

 * http://docs.kubevirt.io -> https://kubevirt.io/user-guide
 * http://kubevirt.io -> https://kubevirt.io
 * http://www.kubevirt.io -> https://kubevirt.io

[2018-06-19 00:51] scollier opened #57 "broken link"
on the    page.
https://kubevirt.io/user-guide/#/workloads/virtual-machines/creation

This link is broken:

https://kubevirt.io/api-reference/)[https://kubevirt.io/api-reference/

[2018-06-20 11:04] #57 closed

[2018-07-18 19:40] fabiand commented on #51
Should be fixed now

[2018-07-18 19:40] #51 closed

[2018-07-18 19:40] fabiand commented on #40
Should be fixed now

[2018-07-18 19:40] #40 closed

[2018-07-20 20:28] scollier opened #70 "Same text on home page of new website"
"Leverage KubeVirt and Kubernetes to manage virtual machines for impractical-to-containerize apps."

@xsgordon anything to add here to differentiate a bit?

[2018-07-23 13:37] mindreeper2420 commented on #47
@scollier I updated the Readme a bit when I worked on the redesign. Not sure if that satisfies the requirements of this issue or not.

[2018-08-09 00:52] scollier commented on #70
@xsgordon bump

[2018-08-09 00:52] #47 closed

[2018-08-15 00:00] #70 closed

[2018-08-17 15:44] gszasz opened #88 "The docs.kubevirt.io subdomain should redirect to kubevirt.io/docs/"
Since the new [KubeVirt Documentation](http://kubevirt.io/docs/) was already reconciled, the http://docs.kubevirt.io subdomain should redirect to http://kubevirt.io/docs/ instead of http://kubevirt.io/user-guide/

We need to point KubeVirt users to the most recent documentation resource as [KubeVirt User Guide](http://kubevirt.io/user-guide/) is going to be deprecated soon.

[2018-08-17 15:45] gszasz commented on #88
![](https://github.trello.services/images/mini-trello-icon.png) [Feedback on KubeVirt.io](https://trello.com/c/OAgmQKO5/172-feedback-on-kubevirtio)

[2018-09-04 19:03] xsgordon opened #95 "Getting Started material does not work on Minikube 1.10 or Minishift 3.10 with KubeVirt >= 0.7.0"
Due to https://github.com/kubevirt/kubevirt/issues/1316 it appears that KubeVirt 0.7.0 and higher . Instead for recent demos I have had to peg the version to 0.6.4. Until this is fixed the documentation should refer to a combination that is known to work.

Following the fix to minikube/minishift arriving we would still need a note to indicate that a "known bad" combination exists with the resoluti

[2018-09-04 21:39] simon3z commented on #95
+1 :+1:

In the past discussing with @scollier we were planning validations to run at the beginning so we would catch these even if someone missed the notes. After all that's what minishift deos as well:

[code]

[2018-09-07 20:39] xsgordon opened #98 "Minishift getting started needs policy for kubevirt-apiserver"
Using KubeVirt 0.8.0 with Origin 3.10 instantiated by Minishift I was able to spawn a Cirros VM after enabling device plugins for /dev/tun and /dev/kvm. On trying to retrieve the console for the instance though I was receiving this error:

`websocket: close 1006 (abnormal closure): unexpected EOF" in response to virtctl console`

After debugging with @vladikr and @stu-gott it appears to be because

[2018-09-07 20:59] xsgordon commented on #98
Indeed, dropping the kubevirt-infra line things still seem to work.

[2018-09-07 21:00] xsgordon commented on #95
Workarounds required for minishift (I mount this script in using a hostmount):

https://github.com/xsgordon/kubevirt-minishift-demo/blob/master/workarounds.sh

[2018-09-14 08:10] e-minguez opened #113 "Kubevirt Memory Overcommit typos"
**accoun ted**

**reserve d**

It’s not too complex to get this working, all what is needed is to have KubeVirt version **[REPLACE]X.Y.Z[REPLACE]** installed,

[2018-09-14 12:21] mindreeper2420 opened #115 "Sidebar in Labs not highlighting active page"
The sidebar in the Labs section is not highlighting the active page, as it does in all other areas of KubeVirt.io. This should match all of the other sidebars found throughout the site.

<img width="925" alt="screen shot 2018-09-14 at 8 18 33 am" src="https://user-images.githubusercontent.com/4032718/45549853-2af05a00-b7f7-11e8-8989-ef588a4a5565.png">

[2018-09-14 12:33] mindreeper2420 opened #116 "Icon missing from Labs sidebar"
For some users, the icon in the Labs sidebar shows up as a broken image. This is most likely caused by a missing Font Family, when used in combination with the `:before` pseudo class.

<img width="444" alt="screen shot 2018-09-14 at 8 29 41 am" src="https://user-images.githubusercontent.com/4032718/45550420-cafab300-b7f8-11e8-8764-3868a3a45586.png">

[2018-09-14 13:28] mindreeper2420 opened #117 "Headers on GCP Lab should be H2s"
The headers on the GCP Lab page (https://github.com/kubevirt/kubevirt.github.io/blob/master/pages/gcp.md), should use `H2`s for the step headers, to match the EC2 page (https://github.com/kubevirt/kubevirt.github.io/blob/master/pages/ec2.md).

This was done in order to follow the proper semantic HTML markup, as the page begins with and `H1`.

[2018-09-14 13:38] mindreeper2420 opened #118 "GCP page has 2 Step 2s"
There are 2 "Step 2" headers on the GCP page. The second Step 2 should be changed to "Step 3".

https://github.com/kubevirt/kubevirt.github.io/blob/master/pages/gcp.md#step-2-kubevirt-labs

[2018-09-14 15:29] #113 closed

[2018-09-14 16:10] e-minguez commented on #113
Actually it still says  [REPLACE]X.Y.Z[REPLACE] 
Which is a placeholder for the proper kubevirt version...

[2018-09-14 20:45] j-griffith opened #121 "GCP kubevirt-button bucket permissions"
While attempting to use the demo for GCP on kubevirt.io I found that the kubvirt-button bucket on Google Cloud Storage isn't accessible and get the error message:

[2018-09-14 22:28] #117 closed

[2018-09-14 22:28] #118 closed

[2018-09-17 08:18] e-minguez opened #123 "http://kubevirt.io should redirect to https://"
Currently kubevirt.io is served both http and https. It would be great if http traffic is redirected to https :)

[2018-09-17 13:35] karmab commented on #121
thanks for reporting @j-griffith this is fixed

[2018-09-17 14:04] j-griffith commented on #121
Confirmed, thanks @karmab !

[2018-09-17 14:04] #121 closed

[2018-09-18 22:38] rwsu opened #126 "Change "Easy Install using X" to "Try KubeVirt on X""

[2018-09-18 22:39] rwsu opened #127 "Add screenshots to AWS page and break out instance create process into bullets"

[2018-09-18 22:46] rwsu opened #128 "In AWS+GCP pages, clicking on an external link should create a new tab"
A new tab should be created, so the user can come back to the original tab to see the lab instructions after they have started their instance.

[2018-09-18 22:49] rwsu opened #129 "Clicking on AWS AMI link should prefill the instance start form with an instance type with > 4GB memory preselected"
Need to see if this is possible.

[2018-09-19 00:30] #126 closed

[2018-09-19 13:59] #116 closed

[2018-09-20 15:10] mindreeper2420 commented on #128
@rwsu I can take this one, but cannot assign myself issues. Can you either update my permissions or assign this to me? Thanks!

[2018-09-20 17:22] rwsu commented on #128
@scollier Can you assign Adam to this issue? I don't have permissions.

[2018-09-20 17:29] rwsu commented on #127
Addressed in https://github.com/kubevirt/kubevirt.github.io/pull/133

[2018-09-20 17:29] #127 closed

[2018-09-21 14:33] #128 closed

[2018-09-28 17:33] karmab commented on #88
addressed in https://github.com/kubevirt/kubevirt.github.io/pull/137

[2018-09-28 17:33] #88 closed

[2018-10-02 18:35] #98 closed

[2018-10-02 18:38] xsgordon opened #138 "EC2 Push-button Deploy fails due to overlapping routes"
Following the push-button deploy instructions for EC2 I found the weave pod going into a crash back-off loop (which in turn prevents coredns and the kubevirt pods from coming up), digging into the logs I saw this:

[code]
172.30.0.0/16 is the route associated with my existing VPC, which I can change/replace, but this requirement wasn't mentioned in the instructions.

https://github.com/kubevirt/ku

[2018-10-02 19:10] rwsu opened #139 "Update EC2 page to include note about network setup to avoid conflicts between weave and VPC"
steveg reported an issue with AWS deployments where the weave network conflicted with his VPC setup.

$ kubectl logs weave-net-x588f -c weave -n kube-system
Network 172.30.0.0/16 overlaps with existing route 172.30.0.0/24 on host

Weave pod goes into crash backoff when this happens.

[2018-10-02 19:14] rwsu commented on #139
dupe

[2018-10-02 19:14] #139 closed

[2018-10-05 12:12] rmohr commented on #52
/cc @scollier

/remove-lifecycle stale

[2018-10-10 17:18] #115 closed

[2018-10-11 13:48] iranzo commented on #123
This is what we do use at <https://citellus.org> :  <https://blog.cloudflare.com/secure-and-fast-github-pages-with-cloudflare/>

[2018-10-24 06:38] rmohr opened #156 "Origin install instructions are outdated"
/kind bug

There is content which is still copied from the docs manually: https://github.com/kubevirt/kubevirt.github.io/blob/master/pages/get_kubevirt.md.

It shows the wrong SCC instructions for installing latest kubevirt on an openshift cluster.

This page contains sensible instructions. We should either serve it from the user-guide or ensure that an automated process is in place. People will r

[2018-11-09 21:49] fabiand opened #160 "Getting started guide is outdated"
From https://github.com/kubevirt/kubevirt/issues/1316#issuecomment-437414568

We should fix this.

[2018-11-13 15:32] karmab commented on #160
yes, waiting for mark overall feedback to address all of it once

[2018-11-16 14:55] markllama opened #163 "[doc] kubevirt.io minikube demo refers to incorrect link for nested virt"
The kubevirt.io demo for minikube has a section describing the configuration of nested virt.
http://kubevirt.io/get_kubevirt/ "Appendix: deploying Kube"

If not set it refers to this link:

https://docs.fedoraproject.org/quick-docs/en-US/using-nested-virtualization-in-kvm.html

This in turn indicates that the link has moved and should point to:

https://docs.fedoraproject.org/en-US/quick-docs/usin

[2018-11-16 14:55] markllama commented on #163
Moved from https://github.com/kubevirt/demo/issues/92

[2018-11-16 14:56] markllama opened #164 "kubevirt.io demo doesn't indicate need to use system:admin for oc commands"
The kubevirt.io try-me for minikube/minishift has oc commands that require use of the system/admin user. There is no note to that effect in the text.

http://kubevirt.io/get_kubevirt/

Deploying KubeVirt on OpenShift Origin
On OpenShift Origin, the following SCCs need to be added prior kubevirt.yaml deployment:

$ oc adm policy add-scc-to-user privileged system:serviceaccount:kube-system:kubevirt-

[2018-11-16 14:57] markllama commented on #164
Resolved for minikube and minishift.  AWS and GCE images are still out of date.

[2018-11-16 15:07] markllama opened #165 "workaround for missing vms in kernel of minishift image"
minishift VM does not enable vms in kernel.

Add this line to the try-me where the other oc setup commands are and the demo will complete as expected:

`kubectl create configmap -n kube-system kubevirt-config --from-literal debug.useEmulation=true`

[2018-11-19 15:47] karmab commented on #165
addressed in https://github.com/kubevirt/kubevirt.github.io/pull/166

[2018-11-19 15:47] karmab commented on #163
addressed in https://github.com/kubevirt/kubevirt.github.io/pull/166

[2018-11-19 15:49] karmab commented on #160
@fabiand fixing some CI stuff and we will then update the pages with latest kubevirt release (0.10.0)

[2018-11-19 15:50] karmab commented on #156
ack

[2018-11-19 15:53] karmab commented on #156
addressed manually in https://github.com/kubevirt/kubevirt.github.io/pull/166 but need to decide what to do with this doc page at all

[2018-11-19 15:54] karmab commented on #156
i wonder if it makes sense to simply redirect to

[code]

@rmohr @fabiand @scollier  ?

[2018-11-19 15:58] karmab commented on #164
addressed in https://github.com/kubevirt/kubevirt.github.io/pull/166 with an explicit login as system:admin prior to running the scc related commands although arguably, both oc and kubectl commands from the getting started require enough privileges for kubevirt deployment to actually happen

[2018-11-19 15:58] karmab commented on #138
fixed

[2018-11-19 15:58] #138 closed

[2018-11-19 15:58] fabiand commented on #156
Yes - user guide should have it!

It#s a broader topic to revamp user-guide to better fit into the website.

[2018-11-21 13:53] #165 closed

[2018-11-21 13:53] #164 closed

[2018-11-21 13:53] #163 closed

[2018-12-04 09:43] #20 closed

[2018-12-04 10:43] #42 closed

[2018-12-04 11:43] #50 closed

[2018-12-13 16:53] tylerauerbeck opened #176 "Clicking on docs link at https://kubevirt.io returns 404 error"
When visiting the https://kubevirt.io site and clicking on the docs link at the top right hand of the screen, you are returned a 404 error with the following information:

[code]

[2018-12-20 16:29] nellyc opened #178 "Volume sources links are broken"
On the docs, when going to this section:
https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines/disks-and-volumes.html#volumes

all the links under it are not taking me to the relevant section
seems like upper/lower case issue
for example
https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines/disks-and-volumes.html#persistentVolumeClaim
vs
https://kubevirt.io/user-guide

[2019-01-07 09:20] fabiand commented on #95
/remove-lifecycle rotten

[2019-01-09 14:51] iranzo commented on #123
/remove-lifecycle stale

[2019-02-06 09:45] #95 closed

[2019-02-13 19:48] jdonalds opened #184 "GCP Getting started uses old 0.8.0"
Easy install calls out old 0.8.0 image @ http://kubevirt.io/pages/gcp.html

VM install then fails in "Use Kubevirt lab"
kubectl apply -f https://raw.githubusercontent.com/kubevirt/kubevirt.github.io/master/labs/manifests/vm.yaml

fails since new lan VM.yaml is for newer version.

[2019-02-13 19:48] jdonalds opened #185 "GCP Getting started uses old 0.8.0"
Easy install calls out old 0.8.0 image @ http://kubevirt.io/pages/gcp.html

VM install then fails in "Use Kubevirt lab"
kubectl apply -f https://raw.githubusercontent.com/kubevirt/kubevirt.github.io/master/labs/manifests/vm.yaml

fails since new lab VM.yaml is for newer version.

[2019-02-13 20:28] karmab commented on #184
you're right, user should be instructed to create image from latest image (and screenshot should somehow reflect that).
fixed in https://github.com/kubevirt/kubevirt.github.io/pull/186

[2019-02-13 20:28] #184 closed

[2019-02-13 20:29] karmab commented on #185
closing as duplicate of https://github.com/kubevirt/kubevirt.github.io/issues/184

[2019-02-13 20:29] #185 closed

[2019-02-16 00:09] #129 closed

[2019-03-04 13:35] #52 closed

[2019-03-14 13:45] e-minguez opened #203 ""Get Kubevirt" page should have an index/be ordered"
As a user, if you start reading the get_kubevirt site and copy & paste instructions, it is confusing to find 'KubeVirt on an existing Kubernetes cluster' after 'KubeVirt Quickstart'. Is the operator not enough?

[2019-03-14 13:46] karmab commented on #203
it is, we re planning to remove the KubeVirt on an existing Kubernetes cluster section all together

[2019-03-14 13:46] karmab commented on #203
To be addressed by https://github.com/kubevirt/kubevirt.github.io/pull/202

[2019-03-19 11:43] tripledes opened #205 "Add a redirect for get_kubevirt"
After #202 was merged, *get_kubevirt* returns 404, as it's cached by search engines and users might access it directly we should add a redirect.

[2019-03-19 14:11] #205 closed

[2019-03-20 09:38] tripledes commented on #203
@e-minguez how does it look now? Do you think the index is still needed?

[2019-03-20 10:18] tripledes commented on #178
Hey @nellyc

Sorry for taking this long to reply. The pages/sections you mentioned belong to the [user-guide](https://github.com/kubevirt/user-guide).

[2019-03-20 10:18] #178 closed

[2019-03-20 10:21] tripledes commented on #176
@tylerauerbeck I'm closing this issue as it seems to be fixed already and I'm doing some housekeeping. Please feel free to open a new one if you it persists. Thanks!

[2019-03-20 10:21] #176 closed

[2019-03-20 10:22] tripledes commented on #160
/close

[2019-03-20 10:22] #160 closed

[2019-03-20 10:24] tripledes commented on #156
/close

[2019-03-20 10:24] #156 closed

[2019-03-20 11:47] e-minguez commented on #203
It is ok, but I would say to have a single 'TRY IT' then have sections for different platforms such as:

- minikube/minishift
- plain vanilla k8s
- okd/ocp
- aws
- gcp

[2019-03-20 13:18] tripledes commented on #203
@e-minguez thanks for the suggestions, we'll be reorganizing the contents where needed to ease the process of getting started with KubeVirt, specially for new users.

/close

[2019-03-20 13:18] #203 closed

[2019-04-09 15:37] tripledes commented on #123
/remove-lifecycle stale

[2019-04-11 17:24] DirectedSoul1 opened #213 "Not able to spin up a container for hosting a local website"
While trying to spin up the container using the
`sudo docker run -d --name kubevirtio -p 4000:4000 -v $(pwd):/srv/jekyll jekyll/jekyll jekyll serve --watch` command on RHEL 7

**OS Version**
[code]
Im getting the error:
[code]
**Docker output**
[code]

[2019-04-30 10:52] iranzo commented on #123
Who can deal with this?

[2019-05-27 09:44] jparrill commented on #123
Done

[2019-05-27 09:44] #123 closed

[2019-05-27 09:49] jparrill commented on #213
Is this still applying? It works for me: https://pastebin.com/NfA61ZQb

[2019-05-27 11:32] iranzo commented on #213
I've also tested it with:

[code]

And works for me

[2019-05-27 12:52] iranzo opened #224 "Ruby Sass EOL"
From CI logs... seems that something should be updated:

Ruby Sass has reached end-of-life and should no longer be used.
* If you use Sass as a command-line tool, we recommend using Dart Sass, the new
  primary implementation: https://sass-lang.com/install
* If you use Sass as a plug-in for a Ruby web framework, we recommend using the
  sassc gem: https://github.com/sass/sassc-ruby#readme
* For mo

[2019-05-28 12:47] DirectedSoul1 commented on #213
It works for me on my Fedora 29 , and on* Centos* and *RHEL* this will not
work.

Shashank *Hegde*

Systems Engineer, RHCE

Red Hat MA <https://www.redhat.com/>

314 Littleton Rd

shegde@redhat.com
M: 6179925192
<https://red.ht/sig>

On Mon, May 27, 2019 at 7:32 AM Pablo Iranzo Gómez <notifications@github.com>
wrote:

[2019-05-30 15:12] iranzo commented on #213
Container is not provided by us, just as a way to make it easier to debug the website changes, I agree it makes it more convenient that having to install jekyll locally, but not really sure if it's something that we should be handling or not as it's outside of our hands

[2019-06-04 15:44] tripledes opened #241 "Some links in KubeVirtCI blog post are broken"
Reported here: https://travis-ci.org/kubevirt/kubevirt.github.io/builds/541301647?utm_source=github_status&utm_medium=notification

[2019-06-04 15:59] #241 closed

[2019-06-12 10:28] tripledes commented on #213
@DirectedSoul1 I've been testing this myself on a CentOS7 VM, here my findings:

* I hit the issue as soon as I started the container
* Tried different SELinux contexts with different levels of (un)success
* Realized one difference between my Fedora host and my CentOS VM:

      $ ls -ld /home/sjr # Fedora 30
      drwx--x--x. 47 sjr sjr 4096 Jun 12 12:22 /home/sjr

While on CentOS, and I presume

[2019-06-12 13:31] karmab commented on #213
since the issue can be handled either by disabling selinux in the container or by labelling,closing this

[2019-06-12 14:12] codificat commented on #213
You can't disable SElinux inside the container, and I wouldn't recommend disabling it on the host.

About labeling: that's precisely the issue here, right? The README contains instructions from labeling that, if I understand correctly from the conversation, don't work well on some systems...

So, this isn't really resolved, right?  It sounds to me that there are changes needed in the README, and t

[2019-06-12 14:22] iranzo commented on #213
This change in README instructs user to use container relabelling of filesystem so if it's executed outside of the website folder, for example on / by accident, it will relabel the full filesystem.

A note should be put before the command, but never, default to make changes on the user system that could result in a bigger issue.

[2019-06-12 14:28] tripledes commented on #213
That isn't accurate.

https://www.projectatomic.io/blog/2015/06/using-volumes-with-docker-can-cause-problems-with-selinux/

[2019-06-12 14:33] codificat commented on #213
It seems that these comments actually belong to #246 - sorry I misquoted the reference to the PR earlier

[2019-06-13 14:31] #213 closed

[2019-06-13 20:45] DirectedSoul1 commented on #213
I just tested this on my RHEL 7.5
[code]
And from my local browser, was able to access the website http://0.0.0.0:4000
![Screenshot from 2019-06-13 16-43-33](https://user-images.githubusercontent.com/41084673/59466162-9a34c200-8dfa-11e9-912b-1b65777e0802.png)

[2019-06-14 14:25] tripledes opened #251 "OWNERS doesn't seem to be properly structured"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Prow should be labeling based on file but currently it's not doing it.

**What you expected to happen**:
Prow to assign kind/blog or kind/website based on the files a PR modifies.

**Anything else we need to know?**:

[2019-06-19 10:03] codificat opened #254 "OpenShift lab might be out of date"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

There is an OpenShift lab (labeled "OCP lab") in https://kubevirt.io/labs/ocp that seems to be out of date

**What you expected to happen**:

The lab should be updated or removed as appropriate

**Anything else we need to know?**:

The lab appears to have been originally based on the [kubevirt-tutorial](https://github.co

[2019-06-25 10:45] jparrill opened #260 "External links failling"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
CI Error

**What you expected to happen**:

**Anything else we need to know?**:

[code]

[2019-06-25 10:46] jparrill commented on #260
/cc @jparrill

[2019-06-25 10:51] #260 closed

[2019-06-25 12:48] iranzo opened #261 "Community category has no articles"
Community should have posts or be hidden

[2019-06-25 12:49] iranzo opened #262 "Duplicated post for version 0.2.0"
Duplicate post for 0.2.0 version

[2019-06-25 12:49] iranzo commented on #262
December version should be removed

[2019-06-25 12:50] iranzo opened #263 "New blog posts are hidding inside 'blog' section giving no visibility"
For the casual visitor, new blog posts are not featured in the website, a sidebar on the front page containing latest posts could be a good addition.

[2019-06-25 12:51] iranzo opened #264 "Article titles should allow usage of '.' (dots)"
Kubevirt versions should be '0.2.0' not '020'

[2019-06-25 12:52] iranzo opened #265 "Article title should be a link to open the article url"
When accessing:

https://kubevirt.io/blogs/  -> titles are clickable

When clicking on communty, news, weekly updates, releases, uncathegorized or even 'year' posts:

https://kubevirt.io/blogs/news.html
https://kubevirt.io/blogs/updates.html
https://kubevirt.io/blogs/releases.html
https://kubevirt.io/blogs/uncategorized.html
https://kubevirt.io/blogs/2019/posts.html
https://kubevirt.io/blogs/2018/

[2019-06-25 12:59] iranzo commented on #265
/kind bug

[2019-06-25 12:59] iranzo commented on #262
/kind bug

[2019-06-25 13:07] iranzo commented on #264
/kind enhancement

[2019-06-26 09:07] #262 closed

[2019-06-26 09:07] #264 closed

[2019-06-26 09:25] #265 closed

[2019-06-26 10:14] iranzo opened #268 "After each article, a sidebar should show similar articles to continue reading"
After each article, a sidebar should show similar articles to continue reading

[2019-06-26 10:15] iranzo opened #269 "Articles should contain tags to relate with others and allow browsing by tags"
Website has many articles that could benefit from using tags to inter-relate them for additional discovery options

[2019-06-26 14:12] iranzo opened #272 "Labs should be listed 'better' on the webpage"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Currently, when clicking on try on gcp, aws it goes to the 'labs page':

https://kubevirt.io/labs/kubernetes/lab1.html

From there  you can click on others and see the available labs, it should be listed in the main menu (Blogs/LABS/Video/docs/community) to have better visibility

/kind enhancement

**What happened**:

**What you expected to happen**:

[2019-06-26 14:13] iranzo opened #273 "OCP Labs are hidden and require fixes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

OCP Labs are in the source code for website, but not listed on https://kubevirt.io/labs/kubernetes/lab1.html

When updating _data/labs_toc.yml to list them they now appear, but require some other fixes as there are broken links to images that are no longer there

/kind bug

**What happened**:

**What you expected to happen**:

**Anything else we need

[2019-06-26 14:30] codificat commented on #273
@iranzo this is related to (if not a duplicate of) #254

[2019-06-26 14:31] iranzo commented on #254
Missing images in the labs seem to come from:

https://github.com/sabre1041/managing-ocp-install-beyond/pull/200/files

[2019-06-26 14:32] iranzo commented on #273
Closed as duplicated of #254

[2019-06-26 14:32] #273 closed

[2019-06-27 11:39] iranzo commented on #263
https://marvelapp.com/527b7h7 as an example

[2019-06-27 11:39] iranzo commented on #263
/kind enhancement

[2019-06-27 11:40] iranzo commented on #269
/kind enhancement

[2019-06-27 11:40] iranzo commented on #268
/kind enhancement

[2019-06-27 11:40] iranzo commented on #261
/kind bug

[2019-06-27 11:46] iranzo commented on #269
Related with #268

[2019-06-27 11:46] iranzo commented on #224
/kind bug

[2019-06-27 12:04] #251 closed

[2019-06-27 13:25] iranzo commented on #261
I think this one should be completely hidden until there's something to show here

[2019-06-28 11:13] #261 closed

[2019-06-28 11:21] iranzo commented on #272
As a side-benefit, when enabling this PR, kubevirt.io/labs will working too instead of the error page we get on github pages hosting

[2019-06-28 11:40] iranzo commented on #272
![image](https://user-images.githubusercontent.com/312463/60339841-338ed700-99aa-11e9-9b86-aade65a6e815.png)

This URL shown on google doesn't exist and is fixed with this PR

[2019-07-02 09:55] #254 closed

[2019-07-03 08:57] #272 closed

[2019-07-08 13:18] iranzo opened #287 "Update labs/manifests/pvc_fedora.yml to use Fedora url"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

labs/manifests/pvc_fedora.yml  is hardcoded to a server

**What you expected to happen**:

As per https://github.com/kubevirt/kubevirt.github.io/pull/286#issuecomment-509127821 it should point to:

https://download.fedoraproject.org/pub/fedora/linux/releases/30/Cloud/x86_64/images/Fedora-Cloud-Base-30-1.2.x86_64.

[2019-07-19 06:08] iranzo opened #298 "Add a FAQ to website"
It's probably worth improving the quickstart in the website, and a FAQ might be a nice addition too, but let's handle that in the website repo.

But regardless of that, I still think it's 6 words is a bit too short for an explanation of what we're doing here.

_Originally posted by @codificat in https://github.com/kubevirt/katacoda-scenarios/pull/2_

[2019-07-19 06:55] iranzo commented on #298
FAQ in #299

[2019-07-29 08:51] jparrill opened #300 "Issue on Minikube Try it button"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

When the Tutorial says to execute this command to extract Kubevirt latest version:

[code]

The version extracted is not correct

**What you expected to happen**:

(Now) the laetst version is `v0.19.0` but the command extracts `v0.19.0-rc.0`

[code]

**Anything else we need to know?**:

We need to avoid `rc`, `alpha`, `be

[2019-07-29 09:03] ptrnull commented on #300
What about cutting it?
curl -s https://api.github.com/repos/kubevirt/kubevirt/releases|grep tag_name|sort -V | tail -1 | awk -F':' '{print $2}' | sed 's/,//' | xargs | cut -d'-' -f1

it works even if there is no "-blabla".

[2019-07-29 09:07] jparrill commented on #300
should be enough ;)

[2019-07-29 09:23] jparrill opened #301 "Use Krew on Kubernetes Labs from Lab1 on Kubevirt.io"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

It should be good to change using `virtctl` by `kubectl virt` using [**krew**](https://github.com/kubernetes-sigs/krew) plugin management on [Lab1 Page](https://kubevirt.io/labs/kubernetes/lab1).

This one concretelly:

---
- To start a Virtual Machine you can use:
[code]
---

To do this we should to change the Image provision method

[2019-07-29 09:31] iranzo commented on #300
Are you submitting the PR?

[2019-07-29 09:49] #300 closed

[2019-07-29 09:54] jparrill commented on #301
Sorry, reusing the issue :D

[2019-07-29 10:09] jparrill opened #303 "Update CDI deployment using Operator as GitHub page does."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

The CDI installation method is outdated, on the [CDI Experimentation lab](https://kubevirt.io/labs/kubernetes/lab2). The new method of installation using the operator it's more efficient and managed by CRDs: https://github.com/kubevirt/containerized-data-importer#deploy-it

**What you expected to happen**:

See the CDI op

[2019-07-29 10:35] ptrnull commented on #301
Commented in https://groups.google.com/d/msg/kubevirt-dev/3xo4KOL1hgI/HavB5iCYBQAJ

[2019-07-29 11:01] iranzo commented on #224
For example: https://travis-ci.org/kubevirt/kubevirt.github.io/builds/548026991#L543

[2019-07-29 11:48] jparrill opened #304 "Outdated screenshots on Try it guide for GCE"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

As you see in the screenshot, the GCE interface is a bit outdated, we need to update those ones.

Source: https://kubevirt.io/pages/gcp.html

![2019-07-29_11-33](https://user-images.githubusercontent.com/1569950/62046135-76410a80-b207-11e9-918a-9db2fdab70e6.png)

[2019-07-30 14:04] joeldavis84 commented on #287
When trying from the `kubevirt-ci-vpc` network/VPC on EC2 it fails (same output after multiple attempts):

[code]

----------------------------------------

Trying from my laptop, the HTTP redirect is to a valid URL:
[code]

The issue appears to be at the HTTP redirect level since I can take the `ewr.edge` URL above and it works fine on the EC2 instance:

[code]

[2019-07-30 14:17] iranzo commented on #287
Doing some research on CF:

https://superuser.com/questions/944719/403-when-downloading-from-cloudfront-with-wget-after-302

Finding more information

[2019-07-30 14:23] iranzo commented on #287
Worth trying??

[code]

wget $URL --retry-on-http-error=404 $URL ?

[2019-07-30 14:25] ptrnull commented on #287
@joeldavis84 you can even try to cheat on dns with wget --dns-servers=ADDRESSES parameter.

[2019-07-30 14:27] joeldavis84 commented on #287
Interesting, switching to `curl` didn't fix the issue but it looks like the real issue is that cloudfront is replying back with something non-sensical:

[<?xml version="1.0" encoding="UTF-8"?>
<Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>pub/fedora/linux/releases/30/Cloud/x86_64/images/Fedora-Cloud-Base-30-1.2.x86_64.qcow2</Key><RequestId>4227720B76B1C10D</

[2019-07-30 15:44] joeldavis84 commented on #287
@ptrnull  The option doesn't appear to be recognized on the RHEL8 test VM:

[code]

Using `openssl s_client -connect` it's getting the same cert on my desktop and on the ec2 server so I don't think there's any sort of retermination/DNS tom foolery. I'll open a ticket with Fedora Infrastructure, we're likely being redirected to a bad mirror based on some sort of criteria we just don't have visibili

[2019-07-30 15:51] joeldavis84 commented on #287
Created a ticket with Fedora Infrastructure to see if the mirror can be fixed or redirection updated: https://pagure.io/fedora-infrastructure/issue/8054

[2019-07-31 10:44] jparrill opened #305 "Outdated AMIs on Try it! Button for AWS webpage"
**Is this a BUG REPORT or FEATURE REQUEST?**:
kind bug

**What happened**:

When you access to **Try it on AWS** button of kubevirt.io page, the AMIs exposed on the guide are outdated:

- https://kubevirt.io/pages/ec2

**What you expected to happen**:

When a new image creation build it's triggered a new PR needs to be created agains the Kubevirt.github.io repo in order to update those AMIs, or ma

[2019-08-02 14:47] joeldavis84 commented on #287
@iranzo The Fedora Infrastructure ticket has been closed as complete:

[code]

So this task can probably be performed now.

[2019-08-02 14:50] iranzo commented on #287
Great, thanks Joel, I'll submit fix first thing on morning

/kind enhancement
/assign

[2019-08-02 14:53] ptrnull commented on #287
Thanks @joeldavis84 well done!

[2019-08-06 14:43] #287 closed

[2019-08-16 09:02] jparrill commented on #301
Let's wait for [this issue](https://github.com/kubevirt/kubevirt/issues/2410) to be solved and then we could change the labs. But we also we need to maintain the backward compatibility, just put the `krew` command on the lab and also the alternative with `virtctl` one. Preparing the WIP PR

[2019-08-16 09:07] jparrill commented on #301
reviewed, solved. Closing

[2019-08-16 09:07] #301 closed

[2019-08-21 20:27] amontalban opened #353 "Can't get minikube + kubevirt working"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I'm following this guide https://kubevirt.io/quickstart_minikube/ and can't get `virt-handler` pod to start.

[code]

Output of `kubectl describe pod virt-handler-rhw7v -n kubevirt`: https://gist.github.com/amontalban/f14d65880bd3e2bccdf5179ab85e4e86

**What you expected to happen**:
To have a fully working kubevirt deploy

[2019-08-22 11:05] #304 closed

[2019-08-22 11:05] #303 closed

[2019-08-28 07:58] ptrnull opened #320 "The google UA parameter shouldn't be hardcoded in the head.html"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The google UA parameter shouldn't be hardcoded in the head.html
**What you expected to happen**:
It should be a variable in the _config
**Anything else we need to know?**:

[2019-08-29 10:02] #320 closed

[2019-08-30 10:55] ronit1495 opened #323 "Fedora/Ubuntu VM and VMI are ready but console access hangs."
Is this a BUG REPORT or FEATURE REQUEST?:
/kind bug
**BUG REPORT**

**What happened**:
VMs on KubeEnv don't allow console access.

**What you expected to happen**:
Console access to booted VMs
**How to reproduce it (as minimally and precisely as possible)**:
Running on AWS t2.mdium ec2 instances, 1 master 2 workers using Kubeadm.
Used krew to install the virt ctl.  Followed Lab2 step by step:
http

[2019-09-03 18:20] slintes commented on #323
@iranzo @jparrill fyi
Maybe we can change the setup to something which works on multinode clusters as well? Or at least document current limitations? Thanks! :)

[2019-09-04 06:24] ronit1495 commented on #323
I'll try to change the configuration to not use hostPath but instead, go for a distributed storage (maybe glusterfs or any shared NFS) to claim Persistence Volumes.
Any idea if it will work or any suggestions on how to proceed with it?

[2019-09-04 08:58] slintes commented on #323
@aglitke do you have an idea for an easy storage setup for the lab?

[2019-09-04 09:01] iranzo commented on #323
Let's document it in the meantime

[2019-09-04 09:06] iranzo commented on #323
Created https://github.com/kubevirt/kubevirt.github.io/pull/325 for the 'NOTE'

[2019-09-05 09:13] iranzo commented on #323
@aglitke What do you think about this? Should be the 'Note' in #325 enough? should something else be changed on the lab?

[2019-09-05 09:18] iranzo commented on #269
@mindreeper2420 I thought that you were involved here, can you help on this similar to metal3.io website?

[2019-09-05 09:18] iranzo commented on #268
@mindreeper2420 I thought that you were involved here, can you help on this similar to metal3.io website?

[2019-09-05 09:18] iranzo commented on #263
@mindreeper2420 I thought that you were involved here, can you help on this similar to metal3.io website?

[2019-09-05 14:07] mindreeper2420 commented on #269
@iranzo I'm not entirely sure the ask here - I'm not active on this project right now, as I was just brought in the help build the site and set it up for future updates. Regarding the metal3.io site, I'd have to talk with the UX team on it currently to figure out what is going on.

[2019-09-05 14:22] iranzo commented on #269
Hi, for metal3 we're ok, but your name came out as you were working on this and wanted to get advice on how to move forward with some design changes inspired with current experience acquired.

Would you appoint someone who could take care of this?

[2019-09-06 08:00] iranzo opened #326 "Cover some https://ogp.me/ in headers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Feature request

/kind enhancement

**What happened**:

**What you expected to happen**:

https://ogp.me/

**Anything else we need to know?**:

[2019-09-06 14:36] #326 closed

[2019-09-10 06:24] iranzo opened #331 "Resize/optimize images"
https://www.dareboost.com/en/report/d_15d77414a90b99843ddb4b7a1?reportIds=d_15d77414a90b99843ddb4b7a1

[2019-09-10 06:25] iranzo opened #332 "Add more opengraph properties"
![image](https://user-images.githubusercontent.com/312463/64589099-93d7c700-d3a4-11e9-8cce-4b8d2f3a8b6a.png)

https://www.dareboost.com/en/report/d_15d77414a90b99843ddb4b7a1?reportIds=d_15d77414a90b99843ddb4b7a1

[2019-09-10 06:26] iranzo opened #333 "Separate css styles from html tags"
![image](https://user-images.githubusercontent.com/312463/64589137-a81bc400-d3a4-11e9-85e1-abeed9632764.png)
https://www.dareboost.com/en/report/d_15d77414a90b99843ddb4b7a1?reportIds=d_15d77414a90b99843ddb4b7a1

[2019-09-10 07:54] #331 closed

[2019-09-10 08:42] #332 closed

[2019-09-11 08:45] ptrnull opened #339 "normalize all the meta tags"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The meta tags created for the ogps are different, some of them have the close char at the end, other don't, as it is html we can avoid the closing char '/':
<meta name="twitter:card" content="summary">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif

[2019-09-11 09:19] #339 closed

[2019-09-19 09:18] ptrnull commented on #323
Closing as there is no activity.

[2019-09-19 09:18] ptrnull commented on #323
/close

[2019-09-19 09:18] #323 closed

[2019-09-27 07:36] brysk opened #343 "Missing images on KubeVirt Network deep dive blog post"
Hi,

There is a problem with images on KubeVirt Network Deep Dive: https://kubevirt.io/2018/KubeVirt-Network-Deep-Dive.html it worked couple fo days ago

![image](https://user-images.githubusercontent.com/455368/65751185-441a2f00-e10a-11e9-9c68-bc55a6b55314.png)

Can you please fix it, thanks!

[2019-09-27 08:18] slintes commented on #343
@codificat can someone have a look please? Thanks!

[2019-09-27 08:20] iranzo commented on #343
I'll check it!

[2019-09-27 08:27] iranzo commented on #343
Handled in https://github.com/kubevirt/kubevirt.github.io/pull/344

[2019-09-27 08:34] iranzo commented on #343
/kind bug

[2019-09-27 08:34] iranzo commented on #343
@brysk can you confirm that https://5d8dc73e4c1ed40008f70a90--kubevirtio.netlify.com/2018/kubevirt-network-deep-dive shows as it was previously?

[2019-09-27 08:40] iranzo commented on #343
Also, this PR fixes: https://deploy-preview-344--kubevirtio.netlify.com/2018/kubevirt-network-rehash

[2019-09-27 08:43] iranzo opened #345 "Enhance linkchecker so that url_swap can be overriden by periodic jobs"
Check #343 for example of a broken image link that passed so far the procedure

/kind bug

[2019-09-27 08:52] iranzo opened #346 "www.kubevirt.io should redirect to kubevirt.io"
www or without 'www' should point to kubevirt.io domain, both with https and with http

This should be configured on the DNS registrar or, if using cloudflare or analog, do it there.

[2019-09-27 08:53] iranzo commented on #346
Check https://github.com/metal3-io/metal3-io.github.io/issues/58 for some details on how it was done

[2019-09-27 08:58] iranzo commented on #346
/kind enhancement

[2019-09-27 08:58] iranzo commented on #346
/kind website

[2019-09-27 09:03] iranzo commented on #345
/kind website

[2019-09-27 09:20] brysk commented on #343
@iranzo still doesn't work, I have emptied cache and reloaded website.

For example this png file cannot be fetched:
https://www.kubevirt.io//assets/images/diagram.png

[2019-09-27 09:39] codificat commented on #346
The `www` hostname currently does not resolve:

[code]

So, rather than an enhancement I believe this is:

/kind bug

I suspect this might be related to the domain transfer.

@fabiand can you confirm that the domain has been moved? Can you add a `CNAME` for `www` that points to `kubevirt.io.`?

We can work on a redirect later if appropriate, but first we need the DNS record to exist.

[2019-09-27 09:40] codificat commented on #343
It seems that a DNS issue caused this, see #346.

[2019-09-27 09:41] iranzo commented on #343
#347 should fix it in the meantime but also #344 will make the articles look similar to the way it's done in others

[2019-09-27 09:53] iranzo commented on #343
@brysk no, it will depend on the PR being merged, I want confirmation that the following URL's:

- https://5d8dc73e4c1ed40008f70a90--kubevirtio.netlify.com/2018/kubevirt-network-deep-dive
- https://deploy-preview-344--kubevirtio.netlify.com/2018/kubevirt-network-rehash

Do look nice on your side so that we can merge the PR and have the original url fixed

[2019-09-27 09:55] iranzo commented on #343
With the merge of #347 the images now load on the original URL reported

[2019-09-27 10:19] brysk commented on #343
@iranzo oh right, I misunderstood - looks good yes

[2019-09-27 10:21] iranzo commented on #343
@brysk PR have been merged (347) and (344) is on its way, are you ok if we close this issue?

Thanks!
Pablo

[2019-10-02 16:25] codificat opened #350 "lab2 on minkube not working: 2 default storageclasses were found"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

While attempting [lab 2](https://kubevirt.io/labs/kubernetes/lab2) on minikube, the creation of the `fedora` PVC (`pvc_fedora.yml`) fails:

[code]

**What you expected to happen**:

Lab instructions should work and not cause errors.

**Anything else we need to know?**:

https://kubevirt.io/labs/kubernetes/lab2

[code]

[2019-10-02 16:31] codificat commented on #350
As seen in the description, there's a pre-existing `StorageClass` already configured to use a hostpath provisioner.

Deleting the resources created by `storage-setup.yml` allows the PVC creation to succeed.

Then the import fails... but that's another story.

[2019-10-02 16:38] codificat opened #351 "lab2: CDI fails to import the fedora image into the PVC"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

In [lab2](https://kubevirt.io/labs/kubernetes/lab2), after creation of the PVC using `pvc_fedora.yml`, the image import process begins but fails to complete.

[code]

**What you expected to happen**:

Image import succeeds.

**Anything else we need to know?**:

This is being reported while testing on minikube, but also h

[2019-10-02 16:39] codificat commented on #350
Created #351 for that

[2019-10-04 07:52] alosadagrande commented on #350
I'll take a look. Seems there is already a hostpath storageclass defined in minikube by default, which is called standard and it's kind of hostpath. Probably there is no need, at least in minikube, to create the storageclass in storage-setup.yml or if needed it can't be configured as default sc in yaml:

[code]

[2019-10-04 08:03] iranzo commented on #350
Hi @alosadagrande, thing is that code in labs should be generic for all environments (GCP, AWS, Katacoda, minikube, etc), would it be possible to use something different so that the same set of yamls can be used on all environments?

[2019-10-04 09:32] alosadagrande commented on #350
I can assert that minikube v1.4.0 comes with a default storage class:

[code]

[2019-10-04 09:37] iranzo commented on #350
We might add a step on the minikube tutorial for setting up that removes it to avoid further conflicts?

[2019-10-04 14:45] alosadagrande commented on #350
I would recommend to select the storageClass when requesting the pvc as shown below:

[code]
Also related to issue #351 I also suggest to reduce the size of the PVC to 4GB (minimum size required to run Fedora30 as vmi) since minikube is using tmpfs as rootfs.

In my tests, the PVC size is related to the amount of memory needed in the virtual machine running k8s. So, if we request 10Gi, the vm need

[2019-10-04 15:07] alosadagrande commented on #351
I was able to import Fedora30 image, however I need to apply a few changes to get it run in minikube:

[code]

1. First, the qcow2 image is Fedora30 and it is not Fedora 28 as it is showed in the documentation
2. The PVC size will probably cause issues when running on minikube. Since minikube rootfs is running on tmpfs, if we request a PVC of 10G  we will need at least to configure minikube's VM w

[2019-10-08 09:12] iranzo commented on #353
Hi, We've a related bug being handled in #352 can you try the file referenced there? (hasn't yet been commited to the repo)

In short, as minikube now has a storage class included, it crashes when creating the vm, so we changed the pvc_fedora to use a different one.

@alosadagrande did you face this issue during your PR testing?

[2019-10-08 09:27] iranzo commented on #353
Fedora 30 host:
![image](https://user-images.githubusercontent.com/312463/66383994-38f2b900-e9be-11e9-8da3-7d1f6abb5966.png)

Minikube version:
![image](https://user-images.githubusercontent.com/312463/66384120-71929280-e9be-11e9-8db1-3752242c2ef6.png)

Deployed using 0.21.0 operator

So, as you mentioned, the prior error was related to minikube version.

Following on your comment at https://githu

[2019-10-08 11:29] alosadagrande commented on #353
This is a minikube specific issue. Using the "alternate" PVC you mentioned I was able to import the cloud image from Fedora.

See commit diff at https://github.com/kubevirt/kubevirt.github.io/pull/352/commits/c4b1a07867a62bb5d05bfc3fb4d513220153ba6d

[2019-10-10 09:14] iranzo commented on #343
Closing as per previous confirmation

[2019-10-10 09:14] #343 closed

[2019-10-10 10:32] iranzo commented on #345
I was thinking a bit about this, linkchecker does internally replace 'external links' to 'www.kubevirt.io' to local links to "/" so it would never catch issues with the configured DNS domain name.

- We need that setting to remain in place, so that future-dated posts can be validated and given the verify tick on checks (as the external link will always fail until the post is published)

- We'll ne

[2019-10-10 11:30] iranzo commented on #345
After some checks, in order to fix we need to edit Rakefile included in this repo to allow external modification of the `urlswap` parameter for html-proofer so that the prow job that runs this check clears the default setting so that external links are checked when the 'server' is the website itself

[2019-10-10 11:45] iranzo opened #361 "Clarify on LAB2 the minikube specifics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

LAB2 has a section for minikube specifics for accesing the VM IP but it is not clearly separated from regular lab.

**What happened**:

**What you expected to happen**:

**Anything else we need to know?**:

[2019-10-10 11:46] iranzo opened #362 "LAB2 instructs to ssh to fedoraVM but this might not be reachable"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Lab informs to ssh to fedora VM IP, but this might not work in real environments as the vm will be in another network unless conecting within the claster.

A nodeport might be required as explained with the minikube specific part

**What happened**:

**What you expected to happen**:

**Anything else we need to know?**:

[2019-10-10 11:49] #351 closed

[2019-10-10 11:58] #350 closed

[2019-10-10 23:02] jparrill commented on #345
I will go through that between tomorrow and next week.

[2019-10-11 11:00] alosadagrande opened #365 "Update KubeVirt to latest version in already provided AMI"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
I deployed AMI suggested in EC2 and realize that version running KubeVirt is an old version (0.16.1)

**What you expected to happen**:
Deploy KubeVirt latest stable version along with K8S

**Anything else we need to know?**:

Issue is at least with AWS AMI images.

[2019-10-11 11:06] alosadagrande commented on #353
Several PRs have been merged which resolves the issue with duplicated storageClasses.

Also, more information to Minikube users when executing lab2 has been provided.

Waiting for feedback.

[2019-10-11 12:18] alosadagrande commented on #365
Found some newer AMIs with newer Kubevirt versions already created. However they are not referenced in the [ec2 lab webpage](https://kubevirt.io/pages/ec2.html)

Newest KubeVirt's AMI I found is 0.20.7. Latest KubeVirt version at the time of writing is 0.22

[2019-10-14 09:25] #345 closed

[2019-10-15 07:51] codificat commented on #361
Ideally we should aim at not having "minikube specifics" to begin with, so we wouldn't need to maintain differences

[2019-10-16 10:30] ptrnull opened #372 "No icon/picture shows when using a link of a blogpost in Twitter/LinkedIn"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When including a URL in a tweet, no picture/icon appears and shows the default one, example: https://twitter.com/ptrnull/status/1184413103393509378
**What you expected to happen**:
To have at least a KubeVirt icon appearing in the miniature icon that references the blogpost/link to the kubevirt.io webpage.

**Anything els

[2019-10-16 14:58] alosadagrande opened #373 "Lab2 fails when running on GCP"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Everytime I try to import the pvc_fedora yaml file which includes Fedora qcow2 image to my Kubernetes cluster in Google Cloud Platform (GCP) I get a 404 error. All traceback can be seen here gist.github.com/alosadagrande/35d85aa9908a0446a868e41041f0bec1

**What you expected to happen**:
Qcow2 image must be imported succes

[2019-10-16 18:12] codificat opened #374 "[labs] latest gcp image does not have virtctl binary"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Following [lab1](https://kubevirt.io/labs/kubernetes/lab1) on a GCP instance created from the [kubevirt-0.20.7-4](https://storage.cloud.google.com/kubevirt-button/kubevirt-0.20.7-4.tar.gz) image, the step about starting the first VM fails because there's no virtctl binary:

[code]

**What you expected to happen**:

Lab s

[2019-10-17 09:20] iranzo commented on #353
Closing because of merged changes in repo, please reopen or add comments in case it's not

[2019-10-17 09:20] #353 closed

[2019-10-17 09:23] ptrnull commented on #372
How to check it:
https://cards-dev.twitter.com/validator

check the following metas:
[code]

[2019-10-17 09:29] ptrnull commented on #372
Official doc from twitter: https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/abouts-cards

[2019-10-22 09:27] ptrnull opened #380 "html Blockquotes are not differentiate from the rest of the content"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**: When there is a markdown note indicated with '>' an html blockquote is generated, the css class doesn't distinguish that blockquote from the rest of the text, should be shadowed or boxed to see that there is a blockquote.

**What you expected to happen**: Get the text into the blockquote differentiate from the res

[2019-10-22 09:37] ptrnull commented on #380
/cc @matthewcarleton

[2019-10-23 10:20] ptrnull commented on #372
I doesn't work in LinkedIn neither.
How to check it: https://www.linkedin.com/post-inspector/inspect/https:%2F%2Fkubevirt.io%2F2019%2FKubeVirt_k8s_crio_from_scratch.html

[2019-10-24 09:29] alosadagrande commented on #361
PR was merged. Issue can be closed

[2019-10-24 09:29] #361 closed

[2019-10-24 09:29] alosadagrande commented on #362
PR was merged, issue can be closed

[2019-10-24 09:29] #362 closed

[2019-10-28 07:42] iranzo commented on #374
The images we're testing as part of the lab validation now have virtctl correctly installed (lab1 validation succeeds) and we're working with the timeouts for lab validation part2 (but binaries, etc are all there), closing.

[2019-10-28 07:42] #374 closed

[2019-10-28 07:44] iranzo commented on #365
Latest images are available at https://jenkins-kubevirt.apps.ci.centos.org/job/cloud-image-builder/job/master/lastSuccessfulBuild/artifact/new-images.json

We should automate the update of the relevant article pointing to that file for checking latest versions or directly providing a link to it

[2019-10-28 07:44] iranzo commented on #224
/remove-lifecycle stale

[2019-10-29 12:44] iranzo commented on #305
/remove-lifecycle stale

[2019-10-31 10:34] iranzo opened #391 "Review articles to have not just month/year but also 'day'"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Feature

**What happened**:
Articles have day in name for file, but are not listed in the blog section so it's not uniform for all articles

**What you expected to happen**:

**Anything else we need to know?**:

[2019-11-04 16:23] alosadagrande opened #393 "minikube lab creates a storage class called hostpath which uses tmpfs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
Since minikube storage class does not persist because it stores the pvc at /var/kubernetes when importing fedora30 image memory can be exhausted easily on vms that are less than 8G. This is because /var/kubernetes is backed up by tmpfs file system.

**What you expected to happen**:
Import a cloud image must not st

[2019-11-04 17:35] #393 closed

[2019-11-05 09:26] #391 closed

[2019-11-14 10:31] iranzo opened #409 "Do not publish articles before active date"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Articles in the future should not be published on the website

**What you expected to happen**:

**Anything else we need to know?**:

[2019-11-21 10:23] iranzo commented on #346
@fabiand @codificat any news regarding this?

[2019-11-26 20:04] tylerauerbeck opened #415 "Would it be beneficial to have a tutorial to get started with KinD"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
Currently the getting started tutorials include minikube, aws, gcp and katacoda. I've increasingly found myself using [KinD](https://github.com/kubernetes-sigs/kind), so was curious to know whether it would be beneficial to have a guide for KinD as well.

**What you expected to happen**:

Have a guide that walks th

[2019-11-28 10:24] iranzo commented on #365
Once we move to travis to generate the website we can automate downloading of json and use https://jekyllrb.com/docs/datafiles/ to automate the ec2lab page automatically with latest amis

[2019-11-28 10:25] iranzo commented on #305
Closing as duplicate from #365

[2019-11-28 10:25] #305 closed

[2019-11-28 13:20] alosadagrande commented on #415
I find KinD really interesting project and getting a lot of traction. However, in my opinion minikube quickstart tutorial covers the basic question: how can I test kubevirt in my laptop or in a local environment.

I found KinD very tied to docker. At least in my case where I am running Fedora 31, caused me to disable cgroupsv2 since docker CE has no support yet. That's why I run podman. Latest ver

[2019-12-04 10:22] ptrnull commented on #268
/remove-lifecycle stale

[2019-12-04 10:22] ptrnull commented on #263
/remove-lifecycle stale

[2019-12-04 15:15] ptrnull commented on #269
/remove-lifecycle stale.

[2019-12-04 15:15] ptrnull commented on #269
/remove-lifecycle stale

[2019-12-11 10:37] ptrnull commented on #333
/remove-lifecycle stale

[2019-12-18 11:45] iranzo commented on #380
Also affects https://github.com/kubevirt/kubevirt.github.io/pull/424

[2020-01-09 12:12] iranzo commented on #372
Before:
![imagen](https://user-images.githubusercontent.com/312463/72065483-9b6d9500-32de-11ea-8f14-01641c213dbf.png)

After: (using preview PR: https://deploy-preview-429--kubevirtio.netlify.com/2019/kubevirt_k8s_crio_from_scratch)

![imagen](https://user-images.githubusercontent.com/312463/72066777-b8f02e00-32e1-11ea-995b-63504bdc40d8.png)

[2020-01-09 12:14] iranzo commented on #372
Also for Twitter:

![imagen](https://user-images.githubusercontent.com/312463/72066887-010f5080-32e2-11ea-91a9-513566ee5450.png)

/close

[2020-01-09 12:14] #372 closed

[2020-01-10 11:12] ptrnull commented on #333
/remove-lifecycle rotten

[2020-01-15 10:05] ptrnull commented on #298
/remove-lifecycle stale

[2020-01-27 09:58] ptrnull commented on #224
/remove-lifecycle stale

[2020-01-27 13:43] #415 closed

[2020-01-27 15:39] #409 closed

[2020-01-28 13:19] iranzo opened #449 "Add search functionality to website"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

It's almost impossible to find a specific post on the website without paginating over and over in the archives.

**What you expected to happen**:

Basic search functionality to find the posts without having to deal with external crawlers

**Anything else we need to know?**:

[2020-01-28 16:09] ptrnull opened #451 "Some of the testing scripts for the minikube quickstart don't exist"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: some of the testing scripts for the minikube quickstart don't exist, check it, add them or correct it.
https://github.com/kubevirt/kubevirt.github.io/tree/source/_includes/scriptlets/quickstart_minikube
Check them in the test_spect:
https://github.com/kubevirt/kubevirt.github.io/blob/source/_includes/scriptlets/quickstart

[2020-01-29 08:48] iranzo commented on #224
Related: https://github.com/jekyll/jekyll-sass-converter/issues/74

[2020-01-29 08:54] iranzo commented on #224
From that one, the libraries are waiting for Jekyll 4.0 to arrive and get dependant libraries moved to stable and new dependency chime in.

As we don't directly depend on it, it should be 'safe' to close this bug: https://github.com/jekyll/jekyll-sass-converter/issues/74#issuecomment-516217160

[2020-01-29 11:22] #449 closed

[2020-01-29 12:02] #365 closed

[2020-01-30 15:16] ptrnull opened #464 "The search form in the top bar can be trigger with no word"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: The search form in the top bar can be trigger with no word getting generated a blank results page.

**What you expected to happen**: with no word the form shouldn't be able to be triggered.

**Anything else we need to know?**:

[2020-01-31 08:10] iranzo commented on #224
@ptrnull ^ above, can we close it?

[2020-01-31 09:47] ptrnull commented on #224
@iranzo all right
/close

[2020-01-31 09:47] #224 closed

[2020-01-31 09:48] #464 closed

[2020-01-31 10:41] ptrnull opened #466 "The search form returns some results from the /build directory"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: The search form returns some results from the /build directory, css files and tests, that should not happen.

**What you expected to happen**: The results page should contain only results from the content blogposts or any other section available in the KubeVirt web.

**Anything else we need to know?**:

[2020-01-31 10:42] iranzo commented on #466
Also happens with css and yamls in tests, thanks for the report!

[2020-01-31 10:55] #466 closed

[2020-02-05 11:09] iranzo opened #481 "Website search returns duplicated results"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
![image](https://user-images.githubusercontent.com/312463/73836761-46a33880-4810-11ea-9052-d80784d56651.png)

**What you expected to happen**:
Single results for each file

**Anything else we need to know?**:

[2020-02-05 11:23] iranzo commented on #481
![image](https://user-images.githubusercontent.com/312463/73837695-47d56500-4812-11ea-99e7-35f45986d3c5.png)

[2020-02-05 12:59] #481 closed

[2020-02-05 13:34] iranzo opened #485 "Pages with no title (internal build, etc) appear in results"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

![image](https://user-images.githubusercontent.com/312463/73846314-a1468f80-4824-11ea-9b5b-5e92375479c0.png)

**What you expected to happen**:

Show only articles with title

**Anything else we need to know?**:

[2020-02-06 09:42] iranzo opened #487 "On code blocks, add ability to copy to clipboard"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
Some websites allow to copy directly to clibpoard what is written in code blocks

**What you expected to happen**:
Investigate on how to implement and enable it

**Anything else we need to know?**:

[2020-02-06 10:14] iranzo opened #488 "Code blocks should have line number"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

Code blocks doesn't contain line numbers to easy referencing on text

**What you expected to happen**:

**Anything else we need to know?**:

[2020-02-06 10:43] iranzo opened #489 "Create generic instructions for cloud providers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

Create generic instructions for cloud providers instead of particular ones

**What you expected to happen**:

**Anything else we need to know?**:

[2020-02-06 10:46] iranzo opened #490 "Remove aws/gcp instructions"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
Currently GCP/AWS pages are particular and should be one generic, remove the individual ones (and point them to the cloud one when #489)

**What you expected to happen**:

GCP AWS pages redirected

**Anything else we need to know?**:

[2020-02-06 11:45] #485 closed

[2020-02-10 16:36] iranzo opened #492 "Network deep dive article has very big images that are hard to browse"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Images in deep dive article arte too big to fit screen https://kubevirt.io/2018/KubeVirt-Network-Deep-Dive.html

**What you expected to happen**:

Reduced images with gallery-style software to zoom them

**Anything else we need to know?**:

[2020-02-12 16:54] iranzo opened #496 "Update article admonitons not on first column"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

Articles like: https://deploy-preview-494--kubevirtio.netlify.com/2020/kubevirt-installing_microsoft_windows_from_an_iso would benefit from admonitions but have an issue if admonition is not starting at first column

**What you expected to happen**:

Track https://github.com/lazee/premonition/issues/15 status to

[2020-02-13 10:54] iranzo opened #497 "Indentify how to get a slack invite in community"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

Users without kubernetes slack account cannot join the #virtualization channel

**What you expected to happen**:

**Anything else we need to know?**:

[2020-02-13 10:56] iranzo opened #498 "Split license PR in 'license' and others"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

License depends on others to happen, unblock the other changes

**What you expected to happen**:

**Anything else we need to know?**:

[2020-02-13 10:58] ptrnull commented on #346
@fabiand @codificat any news?

[2020-02-13 12:18] iranzo commented on #497
Closed by #499

[2020-02-13 12:18] #497 closed

[2020-02-13 13:08] iranzo opened #502 "Update community page with badges"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
Currently community page lists twice fork and star for the repo, would be good to replace it with something more meaningful like the standard 'badges' instead of the button:

https://img.shields.io/github/forks/kubevirt/kubevirt.svg
https://img.shields.io/github/stars/kubevirt/kubevirt.svg

**What you expected to

[2020-02-14 15:57] ptrnull opened #510 "The blogpost categories doesn't represent the reality"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**: The blogpost have the category news when they are an article about how to do something or a release, the categories should be a wide list of options.

**What you expected to happen**: to have a well defined list of categories to choose when written a blogpost.

**Anything else we need to know?**:

[2020-02-18 12:47] iranzo commented on #510
Metal3 uses 'categories' as tags, we might do something similar or keep categories for big buckets and then tags as we're doing in articles

[2020-02-19 10:34] iranzo opened #515 "Show clickable tags for articles"
Metal³ has clickable 'categories' on each article to find relevant content, adapt to KV.io but using 'tags' so that readers can find relevant articles to the topic

Related with #510

[2020-02-19 13:52] iranzo commented on #498
#434

[2020-02-19 13:52] iranzo commented on #498
closing as the PR has been splitted

[2020-02-19 13:52] #498 closed

[2020-02-19 13:52] iranzo commented on #490
Covered in #511

[2020-02-19 13:52] #490 closed

[2020-02-20 10:54] #489 closed

[2020-02-20 15:24] ptrnull commented on #298
@iranzo as spoken, rename the title to "Add a FAQ to the website #298"

[2020-02-24 09:14] #487 closed

[2020-02-24 09:14] #488 closed

[2020-02-24 15:42] #492 closed

[2020-02-24 17:06] #515 closed

[2020-02-25 10:26] iranzo commented on #269
Merged tags in source branch

[2020-02-25 10:26] #269 closed

[2020-02-26 10:03] ptrnull opened #527 "Add the new kubevirt video in the videos section"
/kind enhancement

**What happened**: add the new kubevirt video https://www.youtube.com/watch?v=uusM5SyK-vc&feature=youtu.be in the videos section: https://kubevirt.io/videos/

**What you expected to happen**: to find the new video in the /videos/ section of the kubevirt.io webpage

**Anything else we need to know?**:

[2020-02-26 10:36] codificat commented on #527
What about getting rid of the videos section and just point to the youtube channel?

[2020-02-27 10:27] iranzo opened #528 "Add TOC to articles"
Articles should contain TOC optionally

https://github.com/toshimaru/jekyll-toc

From TODO: Add a TOC for articles automatically (to ease navigation) (example at: https://iranzo.github.io/blog/2019/03/04/telegram-redken_bot-documentation/)

[2020-03-03 11:00] ptrnull commented on #268
/lifecycle stale

[2020-03-03 11:00] ptrnull commented on #268
/remove-lifecycle stale

[2020-03-03 11:01] ptrnull commented on #263
/remove-lifecycle stale

[2020-03-04 09:20] #496 closed

[2020-03-05 09:59] iranzo opened #537 "HTML Proofer, check only files on PR"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

When a PR is made, only check the links that were included in the PR for new broken links

Sometimes we get broken links of older relocated files that are not part of this pr to be fixed

**What you expected to happen**:

**Anything else we need to know?**:

https://github.com/gjtorikian/html-proofer#ignoring-new

[2020-03-06 03:48] huanhaixy opened #539 "k3s create vm error，Service Unavailable"
after install by https://kubevirt.io/quickstart_kind

use :  k3s kubectl apply -f
https://raw.githubusercontent.com/kubevirt/kubevirt.github.io/master/labs/manifests/vm.yaml

get the error "Error from server (InternalError): error when creating "vm.yaml": Internal error occurred: failed calling webhook "virtualmachine-validator.kubevirt.io": Post https://virt-api.kubevirt.svc:443/virtualmachines-v

[2020-03-06 07:30] iranzo commented on #539
Hi,
Have you checked https://github.com/kubevirt/kubevirt/issues/2676 ?

[2020-03-08 04:22] huanhaixy commented on #539
**Environment**

KUBEVIRT_VERSION = v0.26.2
k3s v1.17.3+k3s1

 **kubelet path**

[root@localhost ~]# ls /var/lib/kubelet/
cpu_manager_state  device-plugins  plugins  plugins_registry  pod-resources  pods

**agent path**
[root@localhost ~]# ls /var/lib/rancher/k3s/agent/
client-ca.crt              client-k3s-controller.key  client-kubelet.key     client-kube-proxy.key  k3scontroller.kubeconfig  kub

[2020-03-09 08:49] iranzo commented on #539
What is the status of the KubeVirt services?

`kubectl get pods -n kubevirt`

[2020-03-09 08:49] iranzo commented on #539
As proposed in https://github.com/kubevirt/kubevirt.github.io/issues/539#issuecomment-595638458 have you checked that issue created in the KubeVirt repository for some hints on running it on k3s?

[2020-03-09 09:04] huanhaixy commented on #539
`k3s kubectl get all -n kubevirt ` .  all  status is ready。

I have recreate k3s , I found the path of "kubelet" is right  ("/va/lib/kubelet")   (follow by #539 (comment) )

[2020-03-09 14:39] iranzo opened #540 "Spacer after/before code blocks"
Code blocks are pretty close to paragraphs, this needs more tuning

Ref: [KNIECO-2271](https://issues.redhat.com/browse/KNIECO-2271)

[2020-03-09 15:07] iranzo commented on #540
/kind enhancement

[2020-03-09 15:12] iranzo commented on #539
I would suggest to continue this at https://github.com/kubevirt/kubevirt/issues/2676 and review the points given there at https://gitlab.com/snippets/1893008 for the installation snippet

[2020-03-09 15:13] iranzo commented on #539
Btw, it also points to issue: https://github.com/rancher/k3s/issues/1390 on k3s which is listed as closed using an updated version

[2020-03-11 03:28] huanhaixy commented on #539
curl virt-api , do not get the route "https://virt-api.kubevirt.svc:443/virtualmachines-validate?timeout=30s". Is this correct?

[code]

[2020-03-17 13:32] ptrnull commented on #380
/remove-lifecycle stale

[2020-04-07 18:47] uhlhosting opened #553 "Back-off restarting failed container"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: Followed docs to deploy kubevirt, in the end in dashboard i noticed that 1 service is failing.

**What you expected to happen**: Have kubevirt functional

**Anything else we need to know?**:

[code]

[2020-04-08 07:12] alosadagrande commented on #553
What distribution of Kubernetes are you running KubeVirt?

[2020-04-08 11:20] uhlhosting commented on #553
@alosadagrande using v1.18.0 .

[2020-04-08 12:39] alosadagrande commented on #553
Kubernetes vanilla?

[2020-04-08 12:59] uhlhosting commented on #553
1.19.0 would be vanilla :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-04-08 13:14] alosadagrande commented on #553
The community has arrived on the colloquial term “vanilla Kubernetes” to describe an installation of the only the upstream components as released by the Kubernetes project. “Vanilla Kubernetes”

Why are you saying 1.19?

[2020-04-08 13:43] uhlhosting commented on #553
I got it wrong, well this is a vanilla deployment in that case. I was thinking you reffered to as unstable 💣 . It is deployed in openstack under magnum. With coreos image.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-04-08 14:06] alosadagrande commented on #553
Opened a similar issue, in my case I was running Fedora CoreOS:

https://github.com/kubevirt/kubevirt/issues/3129

Summing up:

Set SElinux to permissive. IMHO it is a no-go
Install the **policy-coreutils** package and reboot the node. However, AFAIK this can lead to problems during OKD updates since it manages the OS life-cycle as well, so it can upgrade the OS and face the semanage issue again s

[2020-04-08 15:27] uhlhosting commented on #553
I too use CoreOS underlaying for K8S. Will try on Atomic

[2020-04-09 10:35] uhlhosting commented on #553
Just noticed i opened the bug in wrong repository . tried today a fresh deployment will fail same semanage missing.

[2020-04-09 10:41] alosadagrande commented on #553
You will need to install the proper package that contains semanage on your nodes and reboot them. This is the workaround while fixing this by using a go library instead of semanage.

[2020-04-09 11:45] uhlhosting commented on #553
I use latest fedora-coreos images will check about this.

[2020-04-09 18:29] uhlhosting commented on #553
rpm-ostree install policycoreutils-python-utils --reboot testing it now.

[2020-04-09 19:50] uhlhosting commented on #553
<img width="1149" alt="image" src="https://user-images.githubusercontent.com/6324047/78934912-0e3c0700-7aac-11ea-88cb-41638f0d5eae.png">
on coreos

[2020-04-10 08:43] uhlhosting commented on #553
problem was solved, just one node failed at first to install the proper rpm, this leaded. to one virthandler to restart.

[2020-04-10 08:43] #553 closed

[2020-04-27 09:20] dhiller opened #557 "kubevirt-io-periodic-link-checker fails, 404s reported"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The link checker job fails since quite a while now, reporting 404 errors.
Example: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/kubevirt-io-periodic-link-checker/1254034276811280384

As they are producing 404, this sounds like some links within kubevirt.io are not working any more.

**What you expected to happ

[2020-05-07 11:01] codificat commented on #557
There are a few references to the user-guide that now fail after it changed back to markdown format and a new generator.

These files need to be fixed:

[code]

[2020-05-07 13:32] ptrnull commented on #557
Should be fixed by https://github.com/kubevirt/kubevirt.github.io/pull/560

[2020-05-07 13:43] #557 closed

[2020-05-22 17:20] mazzystr opened #566 "Guidelines doc says to use jekyll latest which does not work"
/kind bug

**What happened**:
Guidelines doc says to use jekyll latest which does not work.  Our web app reqs jekyll 3. and so the app crashes.

[code]

**What you expected to happen**:
jekyll container should run

**Anything else we need to know?**:

https://github.com/kubevirt/kubevirt.github.io

I suggest updating the podman command to ...
`podman run -it --name kubevirtio -p 4000:4000 -v $(pwd

[2020-05-26 11:39] #527 closed

[2020-05-29 08:50] rmohr opened #568 "The link checker is failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/kubevirt-io-periodic-link-checker/1265631706031853568

An expected page is not reachable.

**What you expected to happen**:

**Anything else we need to know?**:

[2020-06-02 11:28] codificat commented on #566
As a side note: the same process with the [metal3 website](https://github.com/metal3-io/metal3-io.github.io) seems to work just fine with the `stable` tag of the jekyll image - at least as of today (image ID `ff6e2fb1d96a`)

[2020-06-03 17:49] #568 closed

[2020-06-15 08:11] phoracek opened #575 "Broken links to qemu.weilnetz.de"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Some of the links on the website are broken. kubevirt-io-periodic-link-checker reported following issue:

[code]

https://storage.googleapis.com/kubevirt-prow/logs/kubevirt-io-periodic-link-checker/1272155433666088960/build-log.txt?Expires=1592209133&GoogleAccessId=prow-46%40kubevirt-240711.iam.gserviceaccount.com&Signat

[2020-06-15 08:58] codificat commented on #575
Thanks for the report.

Looking at the affected blog post, it turns out that there are many more broken links there - mostly all the links to the docs :/

I'll look at why these are not being reported to begin with.

[2020-06-15 12:18] codificat commented on #566
This has been working for a while now so I'm going to
/close

It seems this was a glitch with a specific jekyll image

[2020-06-15 12:18] #566 closed

[2020-06-15 14:25] codificat opened #576 "Broken links to the user guide are not checked"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Some blog posts contain links to the user guide that are broken.

The link checker does not verify them because the external checker does not check kubevirt.io URLs and the internal checker only checks website pages.

**What you expected to happen**:

- [ ] No broken links
- [ ] Link checker also verifies links to the us

[2020-06-15 20:03] #575 closed

[2020-06-17 10:46] codificat commented on #537
/remove-lifecycle stale

[2020-06-17 10:47] codificat commented on #540
/remove-lifecycle stale

[2020-06-17 10:47] codificat commented on #346
/remove-lifecycle stale

[2020-06-17 10:48] codificat commented on #346
/remove-lifecycle rotten

[2020-06-17 10:49] codificat commented on #451
/remove-lifecycle rotten

[2020-06-17 10:49] codificat commented on #510
/remove-lifecycle stale

[2020-06-18 09:38] codificat commented on #346
This has been finally addressed:

[code]

/close

[2020-06-18 09:38] #346 closed

[2020-06-25 16:26] mazzystr commented on #540
This is funny.  I made a big effort to remove the space before/after code blocks.

See result [here](https://kubevirt.io/2020/win_workload_in_k8s.html)

[2020-06-25 16:28] mazzystr commented on #380
@ptrnull  Are you referring to how a code block appears to be broken up when there's multiple lines?

Ref: [Procedure / Tasks to performed on source host / Step 3](https://kubevirt.io/2020/win_workload_in_k8s.html)

[2020-06-28 10:26] codificat commented on #576
Links broke with the documentation change from asciidoc to markdown (kubevirt/user-guide#316).

For internal links we can fix them and fix the link checker. For external links (like [this](https://www.openshift.com/blog/getting-started-with-kubevirt)) I don't know if we can implement a redirection/translation mechanism from the old URL scheme to the new one...

[2020-07-20 18:22] codificat opened #582 "Bad formatting of automated release changelog blog post"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The last automated release blog post (for v0.31.0) contains references to PR numbers and authors, and it does so in a suboptimal way: it misses proper formatting for that (e.g. links to the PRs, proper brackets...)

**What you expected to happen**:

A nicer presentation of the release changelog

**Anything else we need t

[2020-07-21 17:10] Roberto-89 opened #584 "ror: unable to decode "vm.yaml": no kind "VirtualMachine" is registered for version "kubevirt.io/v1alpha3""
I followed the steps in "Easy install using minikube" to deploy Kubevirt in a Rancher k8s cluster. All of the pods are up and running
kubectl --context production-k8s-chedprd01  get pods -n kubevirt
NAME                               READY     STATUS    RESTARTS   AGE
virt-api-56f8dd88fb-6stvp          1/1       Running   0          20h
virt-api-56f8dd88fb-t66c6          1/1       Running   0

[2020-07-21 19:41] mazzystr commented on #584
Hi @Roberto-89 I am happy to meet you in [slack](https://app.slack.com/client/T09NY5SBT/C8ED7RKFE) and help you through this.

[2020-07-21 19:49] codificat commented on #263
/reopen
we're going to review long standing site design issues

[2020-07-21 19:50] codificat commented on #333
/reopen
we're going to review long standing site design issues

[2020-07-21 19:50] codificat commented on #502
/reopen
we're going to review long standing site design issues

[2020-07-21 19:53] codificat commented on #502
/remove-lifecycle rotten

[2020-07-21 19:53] codificat commented on #333
/remove-lifecycle rotten

[2020-07-21 19:53] codificat commented on #263
/remove-lifecycle rotten

[2020-07-21 19:55] codificat commented on #268
/remove-lifecycle rotten
we're going to triage long standing design issues shortly

[2020-07-21 19:56] codificat commented on #528
/remove-lifecycle rotten
we're going to triage long standing design issues shortly

[2020-07-21 20:31] mazzystr opened #585 "Enhance RSS headers"
/kind enhancement

RSS generation headers not just for main site, but for tags, etc so users can follow tags of interest (releases, specific author, etc)

Are we even generating RSS feeds?  I see no indication

[2020-07-21 20:33] mazzystr opened #586 "Add a faq"
/kind enhancement

From TODO: Add a FAQ based on short articles to be shown similar to what is in project for metal3 explaining concepts like operators, acronyms, etc

[2020-07-21 20:40] mazzystr opened #587 "Disqus alternative"
/kind enhancement

From TODO: Investigate alternatives to Disquss (other projects doing this research: https://github.com/Pelican-Elegant/elegant/issues/288)

[2020-07-21 20:43] mazzystr opened #588 "Integrate the Autodemo video in the front page"
/kind enhancement

We recently received and published in YouTube a professionally made video with an overview of KubeVirt:

https://youtu.be/uusM5SyK-vc

We would like to feature this video prominemptly in the kubevirt.io website, probably embedding it in the homepage or similar, in a way that is not too disruptive but that is easy to access at the same time.

We suspect that this involves some re

[2020-07-21 20:45] mazzystr commented on #298
/remove-lifecycle rotten

[2020-07-21 20:45] mazzystr commented on #586
Duplicate of [298](https://github.com/kubevirt/kubevirt.github.io/issues/298)

[2020-07-21 20:45] #586 closed

[2020-07-21 20:46] mazzystr commented on #298
/reopen

[2020-07-21 21:05] mazzystr opened #589 "Fix KubeVirt architecture doc"
/kind bug

The current KubeVirt architecture section in [user-guide documentation|https://kubevirt.io/user-guide/#/architecture] does not actually describe the KubeVirt architecture.  Please rebuild this doc.

Update: Architecture doc is [here|https://github.com/kubevirt/kubevirt/blob/master/docs/architecture.md].  This story just becomes a matter of fixing the web page link which is significantly

[2020-07-21 21:09] mazzystr opened #590 "Blog/lab side bar take too much screen real estate"
/kind bug

Goal: Adjust side menu

Problem: Side menu consumes 30% of the window real estate

Why is this important: The page looks right side heavy and there is a lot of dead space.

This should be fixed easily enough with a css adjustment

Ref: [KNIECO-2251](https://issues.redhat.com/browse/KNIECO-2251)

[2020-07-21 21:11] mazzystr opened #591 "Blog/lab side bar font type/weight don't match"
/kind bug

Blog/lab side bar font type/weight don't match.  This should be consistent.

[2020-07-21 21:13] mazzystr opened #592 "Lab side bar categories don't make sense"
/kind enhancement

Goal: Make categories make sense

Problem: Too wordy in a bad way

Why is this important: It's subconsciously obnoxious adding extra words on a label ie. "I need to go to the ATM machine".  Why say machine when machine is part of the acronym?  Our menu lives within the KubeVirt website.  "KubeVirt Upgrade" is not necessary.**

I suggest the following layout...

Kubernetes Platfo

[2020-07-21 21:16] mazzystr opened #593 "Try it! front page link should be swung to Katacoda lab"
Try it! front page link should be swung to Katacoda lab.  New users should be able to get started in minutes not scratch their head with the existing quick start guide.

Loosely based upon [KNIECO-2253](https://issues.redhat.com/browse/KNIECO-2253)

[2020-07-21 22:30] mazzystr opened #594 "Code blocks contain unnecessary text"
/kind bug

The copy link is grabbing both \$ prompt and cmd output.  This causes error when copy/pasting directly into a terminal.

Ref: [KNIECO-2272](https://issues.redhat.com/browse/KNIECO-2272)

[2020-07-21 22:34] mazzystr opened #595 "Issue with the date on blog filenames"
/kind bug

Here is the listing of blog posts...
[code]

It's irritating that we need date in the file name of the blog post.  Often several iterations of PR take place before publishing.  This makes the date in the file name out of line with the real publishing date.  It's impossible to schedule publishing also if we wanted to schedule a release to coincide with a feature release or bug fix.

Ther

[2020-07-21 22:44] mazzystr opened #596 "Blog post template"
/kind enhancement

It would be nice to have a template with possible tags.  Every time I create a blog post I have to copy/paste from a previous blog.

[2020-07-22 11:39] codificat commented on #588
This was addressed via #562...

I believe the acceptance criteria listed here were the initial proposal, but it was then deemed better not to auto-play the video every time, or even have it always take precious homepage space, so the design kept it easily reachable through a prominent button, but still not present by default.

Should we re-review that and have the video permanently present and aut

[2020-07-22 15:53] Roberto-89 commented on #584
I deleted kubevirt from the cluster and recreated it from scratch. I was able to deploy the VM after the rebuild.

Thank you

[2020-07-23 15:56] mazzystr opened #598 "Jekyll triggering warning with content"
/kind bug

[code]

Please fix so we have clean content generation

[2020-07-23 22:16] mazzystr commented on #540
In organized lists / bullet pointed lists code blocks have large gap above block and no gap below block.  The next element in list has two lines.  See attached screenshot.

It reqs a <br> to get proper spacing but that's ugly
<img width="573" alt="Screen Shot 2020-07-23 at 2 51 54 PM" src="https://user-images.githubusercontent.com/2479463/88343974-79c28100-ccf7-11ea-9394-a8d24ea5504b.png">

[2020-07-29 18:33] codificat commented on #380
/remove-lifecycle rotten
triaging

[2020-07-29 21:00] mazzystr opened #599 "Beautify action buttons"
/kind enhancement

We have a lovely logo and color theme yet action buttons colored orange .  They shout warning! and danger!

Can we get an update to them?

[2020-07-30 17:09] mazzystr opened #600 "Opportunity for code reuse"
/kind enhancement

(Minikube, Kind, and Cloud) install pages all have equal or near equal final four sections in content.

This is an opportunity to remove the content/code and move to shared files/content that get included my the main page.

[2020-07-30 17:12] mazzystr opened #601 "Lab page refresh"
/kind enhancement

The lab [page](https://kubevirt.io/labs/) has no content.

This page should be refreshed to dynamically populate a list of labs with basic descriptions.

Also the "What's Next" sections of all install and lab pages should link back to this page.

[2020-08-03 16:43] mindreeper2420 commented on #595
Instead of files in `/_posts`, these can be written just as pages - remove them from the `_posts` directory and the files can be named however one wants. The site build process would just need to be updated to look for these files in another folder (any folder works, even custom ones). Doing so will eliminate the need for the date to be present in the title - dates can then be kept in the frontmat

[2020-08-03 18:39] #598 closed

[2020-08-03 22:16] mazzystr commented on #594
This is going to be resolved when pull/602 gets merged

[2020-08-06 18:33] matthewcarleton commented on #587
@mazzystr have you guys come to a conclusion on what you'd like to replace it with? I'm not very educated on the alternatives to Disqus.

[2020-08-07 15:46] matthewcarleton commented on #593
@mazzystr can you provide the link you want here

[2020-08-07 15:50] matthewcarleton commented on #592
@mindreeper2420 is this easy to automate?

[2020-08-07 15:53] mindreeper2420 commented on #592
@matthewcarleton Possibly? I'd have to take a deeper look into it. Page front matter would probably need to be added/updated, if it is not already specific enough.

[2020-08-07 15:54] matthewcarleton commented on #588
+1 to what @codificat is saying I propose we close this issue.

[2020-08-07 15:55] matthewcarleton commented on #585
I'm a bit out of the loop with RSS these days. Is it still a useful feature?

[2020-08-08 05:27] #539 closed

[2020-08-10 22:32] mazzystr opened #611 "Update onhover color of menu bar and test on front page"
/kind enhancement

**What happened**:
Let's pick a different color other than gold for the onhover color of the menu bar and text

Suggestions according to color wheel theory are #70BA45 , #8F45BA , #4570BA , #45BA8F

[2020-08-11 16:42] matthewcarleton commented on #587
I would suggest that we consider removing comments on the blog altogether. It opens the site up to a new level of moderation and as you can see on the site now there has been very little engagement via comments on the blog.

[2020-08-11 16:43] mazzystr commented on #587
+1 to removing Disqus.  I block disqus on my home network anyway so I see errors at the bottom of the blog pages.

[2020-08-11 16:45] #588 closed

[2020-08-11 16:45] mazzystr commented on #588
+1 to closing with no work involved

[2020-08-11 18:41] mazzystr commented on #590
Fabian is not fond of the current borders or the proposed borders on his wide screen monitor with browser set to full screen mode
![Fabian-Curreent-KubeVirt Quickstart with Minikube KubeVirt io(1)](https://user-images.githubusercontent.com/2479463/89935747-884ddb00-dbc7-11ea-850e-30bc55dd819b.png)
![Fabian-Proposed-Minikube KubeVirt addon KubeVirt io](https://user-images.githubusercontent.com/2479

[2020-08-11 18:48] mazzystr commented on #589
Moving issue over to kubevirt / user-guide

/close

[2020-08-11 18:48] #589 closed

[2020-08-11 19:11] mindreeper2420 commented on #590
@mazzystr What borders are you referring to? At a certain point, accounting for ultrawide monitors (I have a 3440x1440 one) becomes not worth the effort.

If possible, it'd be great to know what the average user has for screen widths (if there is any tracking, that would help). If not, I'd go with what Bootstrap uses/the accepted viewports are. The largest Bootstrap currently truly 'cares' about i

[2020-08-12 10:31] brybacki opened #613 "Job kubevirt-io-periodic-link-checker of type periodic ended with state failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Periodic job failed

**What you expected to happen**:

**Anything else we need to know?**:
Log shows:
[code]

Prow link:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/kubevirt-io-periodic-link-checker/1293456137366016000

[2020-08-12 11:51] brybacki commented on #613
/triage build-officer

[2020-08-12 16:49] mazzystr commented on #613
Prow and Netlify have been causing issues lately...  Prow just had a ruby version update that forced us to update.  Netlify had an outage yesterday.  What pull req was this regarding?

[2020-08-12 19:09] mazzystr commented on #613
Are you doing `touch Gemfile.lock` prior to running the container?

[2020-08-19 09:17] ksimon1 commented on #613
occured today again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/kubevirt-io-periodic-link-checker/1295993689977393152

[2020-08-20 17:32] mazzystr commented on #594
pull/602 accidentlly closed.  Code moved to pull/607

pull/607 successfully merged.

Closing task

[2020-08-20 17:32] #594 closed

[2020-08-20 17:47] mazzystr commented on #593
I'm not sure what I was thinking here.  Let's just close this.

[2020-08-20 17:47] #593 closed

[2020-08-20 17:52] mazzystr commented on #451
I don't think we have this test harness anymore.  I'm closing.

If you feel this issue was mistakenly closed please reopen and update the bug description.

Thanks

[2020-08-20 17:52] #451 closed

[2020-08-20 17:57] mazzystr commented on #584
@Roberto-89  Sorry for taking so long to get back with you.  Glad to hear that you were successful.

Also note that we updated the "[Easy install using minikube](https://kubevirt.io/quickstart_minikube/)" lab.  Hopefully the update better reflects reality.

We should be publishing a "Easy install using Rancher K3S" lab within the month.  That task is now at the top of our backlog.

[2020-08-20 17:57] #584 closed

[2020-08-20 18:19] mazzystr commented on #613
I understand our CI better now.   I'm investigating.

[2020-08-20 18:50] mazzystr commented on #582
~/scripts/update_changelog.sh drives the generation of this page.  It's a bash script and probably at the end of it's scale.  It would be a nice exercise to port to gloang.

@fabiand  We spoke about having a more detailed and personal touch to the release.  It appears the kubevirt tag create message already contains the info but it is the script that is filtering out the data.

[code]

I would be

[2020-08-20 18:54] mazzystr commented on #582
@codificat  On thinking about formatting changes for the page... I think it should be an enhancement not a bug.

[2020-08-24 09:53] enp0s3 commented on #613
@mazzystr happened again today: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/kubevirt-io-periodic-link-checker/1297806090070659072

[2020-08-24 16:49] mazzystr commented on #587
Next step is to reach out to the community (kubevirt-dev) to see if anyone has any objections to removing Disqus and replacing with a footer / link to the community page.

[2020-08-25 17:15] mazzystr commented on #587
Email sent ... https://mail.google.com/mail/u/0/#label/Linux%2FKubeVirt/KtbxLzGHjXqlVSkTWSDvVSwmDrNptjBBZL

[2020-08-28 20:16] mazzystr commented on #576
@codificat Do you have an example kubevirt.github.io page with a bad external link?

I see our ruby Rakefile contains external-link checker [here](https://github.com/kubevirt/kubevirt.github.io/blob/source/Rakefile#L13-L36)

If run the rake file like so...
[code]

Links get verified successfully...
[code]

[2020-09-01 15:34] codificat commented on #582
Fair enough, let's update to
/kind enhancement

[2020-09-01 17:36] codificat commented on #576
A notable example is [lab 1](https://kubevirt.io/labs/kubernetes/lab1.html) (_"Use KubeVirt"_). Right now, the very first link that appears in that page, [registry disk](https://kubevirt.io/user-guide/#/workloads/virtual-machines/disks-and-volumes?id=registrydisk), leads to a 404 error page.

There are more.

The problem here I believe is that these are links to kubevirt.io, and therefore not cons

[2020-09-01 22:13] mazzystr commented on #576
I have bad news.  The way the site is currently constructed the Lab1 page and `registry disk` link technically exists.  As soon as a user browses beyond the `https://kubevirt.io/user-guide/#` uri the docsify app takes over and everything will return code 200.  This behavior affects HTMLproofer.  HTMLproofer is most definitely checking the url's but the app renders sidebar and a 404 page and throws

[2020-09-02 01:00] mazzystr commented on #576
I would say we have a pretty bad problem on our hands....
[code]

[2020-09-02 15:07] mazzystr commented on #613
Possibly fixed via https://github.com/kubevirt/project-infra/pull/615

[2020-09-02 20:37] mazzystr opened #620 "Onboarding page with scroll / slideshow effect"
/kind enhancement

The community team needs to create an onboarding page to present necessary information that will get new developers productive fast.

It would be wonderful if we had something like the Fedora Projects onboarding [page](https://whatcanidoforfedora.org/en#designexclamation).

[2020-09-03 17:00] mazzystr opened #621 "Add tag widget"
/kind enhancement

Add widget to front page with list of tags so that tagged content can be easily accessible

REF: https://epsi-rns.gitlab.io/ssg/2020/07/08/jekyll-bsoc-widget-simple-html/ / categories box

[2020-09-04 21:26] mazzystr commented on #576
This issue has really opened a can of worms with user-guide.  It seems there are at least three and likely more issues.

docsifyjs is a javascript application.  `<script>` is inserted into index.html and the app handles requests and page rendering from markdown to html.  Why is this important?  It's important because all pages within the app return code code 200....
[code]

A very dirty method for

[2020-09-16 02:57] haslersn opened #625 "quickstart_minikube page links to localhost:24000"
See for instance: https://github.com/kubevirt/kubevirt.github.io/blob/12cc61d7d16bd7947c3797849c124f32ff0ed164/quickstart_minikube/index.html#L409

Is the link to `http://localhost:24000/labs/kubernetes/lab1` intentional? I think it should be a relative link in order to resolve to `https://kubevirt.io/labs/kubernetes/lab1`.

[2020-09-16 03:23] mazzystr commented on #625
Amazing how these things get through local testing, peer review, and CI!

Thanks for this catch.

You can create a pull request to fix now and I'll tag lgtm/approve or I'll
take care of it in the morning.

Thanks,
/Chris

On Tue, Sep 15, 2020, 7:58 PM haslersn <notifications@github.com> wrote:

[2020-09-16 14:41] #625 closed

[2020-09-28 18:45] #600 closed

[2020-09-30 19:03] #263 closed

[2020-09-30 19:03] #380 closed

[2020-09-30 19:03] #540 closed

[2020-09-30 19:03] #599 closed

[2020-10-05 20:27] mazzystr opened #634 "Spell checker not checking html files"
/kind bug

**What happened**:
Spell checker not checking html files.  This opens us up to spelling mistakes.

I suggest we add this additional command to `.travis.yml`
`- yaspeller --only-errors ./**/*.html`

[2020-10-19 11:05] sanzende opened #639 "How to use TFTP server?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

#> /kind enhancement
**What happened**:
I followed the instructions to add to my TFTP server and the bootfile using the example in this link
https://kubevirt.io/user-guide/#/creation/interfaces-and-networks

The request is invalid:
* : spec.domain.devices.interfaces.bootFileName in body is a forbidden property
* : spec.domain.devices.interfaces.tftpSe

[2020-10-26 18:53] mazzystr commented on #639
@sanzende Would you mind relocating this issue to kubevirt/kubevirt for greater visibility to the community?   We use this repo strictly for website (https://kubevirt.io) issues.

[2020-10-27 11:16] sanzende commented on #639
Thanks Mazzy. I did not know about that before opened an issue here. I have already opened an issue and got a response.

Regards
Sandeep

[2020-10-27 11:16] #639 closed

[2020-11-02 17:56] codificat commented on #613
This was actually fixed by this, so we can
/close

this one

[2020-11-02 17:56] #613 closed

[2020-11-02 21:06] mazzystr commented on #298
@codificat  In light of CNCF technical documentation meeting and the FAQ topic I would like to  close this issue.

[2020-11-03 10:23] codificat commented on #298
Ok.

Can you please elaborate a bit more on the reasoning provided by tech writer experts? So we document the decision a bit more.

After that, feel free to review and approve #650, which will close this issue.

[2020-11-03 15:58] mazzystr commented on #298
Sure!

* re faqs ... In their experience faqs need continuous maintenance.  Content should be constantly cycled back into official documentation.  FAQ's easily becomes a dense forest and difficult to navigate....and unused

[2020-11-03 16:01] #298 closed

[2020-11-06 21:59] mazzystr commented on #537
@codificat  The regex map described here (https://github.com/gjtorikian/html-proofer#ignoring-new-files) doesn't work as advertised.
* Notice the README uses option url_ignore.  That should be file_ignore
* Notice file_ignore accepts a value of map ( [] ).  The diffable_files map gets processed but the code errors out at the first file with errors found.  I filed a bug here ([issues/588](https://g

[2020-11-10 09:57] dhiller opened #651 "Job kubevirt-io-periodic-link-checker is failing since 2020-11-10"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Job [kubevirt-io-periodic-link-checker](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/kubevirt-io-periodic-link-checker/1325818670215073792) is failing for a couple days now, posting to slack channel coreos/kubevirt-ci-monitoring

**What you expected to happen**:

**Anything else we need

[2020-11-10 09:58] dhiller commented on #651
/kind bug

[2020-11-10 16:19] mazzystr opened #652 "Markdown files are not being linted"
/kind bug

**What happened**:
I ran a quick linter against the website markdown.  The linter came up with 2900 warnings...
* line length
* no language in fenced code blocks
* bare urls
* Fenced code blocks should be surrounded by blank lines
* Multiple top level headings
* Inline HTML
* Dollar signs used before commands
* Heading levels should only increment by one level at a time

**What you expe

[2020-11-10 16:24] mazzystr commented on #651
It's not a bug with link-checker.  Those are legit broken links.  I'll get them fixed.

@dhiller Is there anyway that job can be adjusted so the community team gets notified?  Maybe change or add coreos/#eko channel?

[2020-11-10 16:38] dhiller commented on #651
@rmohr something like this would work, right? https://github.com/kubevirt/project-infra/pull/692

[2020-11-10 19:19] mazzystr commented on #595
I see this page (https://jekyllrb.com/docs/posts/).  I guess we're stuck with YY-MM-DD in the filename.

It's ok tho.  I filed this bug because I thought it sucked trying to find a files that linkchecker identified as having failed links.

My workaround is search for *the_file_name.* or `vi _posts/*the_file_name.*`

I'm good with closing this bug.

[2020-11-10 19:19] #595 closed

[2020-11-10 20:21] #651 closed

[2020-11-18 21:29] mazzystr commented on #591
/remove-lifecycle stale

[2020-11-18 21:30] mazzystr commented on #590
/remove-lifecycle stale

[2020-11-30 21:19] mazzystr commented on #590
@matthewcarleton says there's nothing to be done with this issue.  Closing now.

[2020-11-30 21:19] #590 closed

[2020-12-01 00:52] #591 closed

[2020-12-07 19:12] mazzystr opened #661 "Update verify components in Quickstarts"
/kind enhancement

**What happened**:
Quickstart guides should use rollout status to confirm KubeVirt deployment to be consistent with blog content
[code]

[2020-12-17 05:37] mazzystr opened #665 "Jekyll engine triggering warning during site build"
**What happened**:
A recent update has caused Jekyll to throw warnings during site build

[code]

Investigate and resolve

[2020-12-17 15:22] #576 closed

[2020-12-17 15:22] #634 closed

[2020-12-17 23:38] mazzystr commented on #611
/remove-lifecycle stale

[2020-12-17 23:40] mazzystr opened #666 "Add css for header hover to provide icon and anchor links"
/kind enhancement

**What happened**:
Add css for header hover to provide icon and link

ref https://ben.balter.com/2014/03/13/pages-anchor-links/

[2020-12-18 08:14] zulhfreelancer opened #667 "Broken virtctl installation script on Mac OS"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The `ARCH=$(uname -s | tr A-Z a-z)-$(uname -m | sed 's/x86_64/amd64/') || windows-amd64.exe` in virtctl installation script isn't working for me. It creates "A-Z" file instead.

**My environment**:

* OS: Mac OS 10.12.6
* Chip: Intel (not M1)
* Shell: ZSH/iTerm2

**What you expected to happen**:

I believe the `$ARCH` va

[2020-12-21 19:48] tylerauerbeck commented on #652
@mazzystr I actually just put something in place for this in one of my own repos recently. Are you looking for any help to get this cleaned up?

[2020-12-26 20:16] #333 closed

[2021-01-05 18:24] #587 closed

[2021-01-05 19:10] mazzystr commented on #667
OSX 10.12.6 (Sierra) is likely to be out of support by Apple's opaque support policy.

That said I will attempt to assist :
* Since your operating system is so old can you comment with the output from command `uname -a`
* File ./A-Z should not be created.  Please remove this file as it's an indication of a previous bad copy and paste.
* Please type and run the command manually.  DO NOT COPY AND PA

[2021-01-05 19:16] mazzystr commented on #268
/remove-lifecycle stale

[2021-01-06 15:47] mazzystr commented on #665
@matthewcarleton Can you and Adam take a look at this one?

[2021-01-06 16:10] ansijain opened #670 "Broken Link [404 Error]"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

Broken link on the website for user guide (https://kubevirt.io/user-guide/#/Appendix/Contributing) Getting 404 error.

https://kubevirt.io/user-guide/#/Appendix/Contributing

[2021-01-07 07:20] #667 closed

[2021-01-12 17:43] mazzystr opened #671 "Remove travis-ci"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/kind enhancement

**What happened**:
Remove travis-ci from repo ci due to lack of $ and credits and CI taking three eons to run

In order to make this happen we will need KubeVirt Prow jobs similar to kubevirt / user-guide. Once Prow CI jobs are set up we can drop the travis-ci hook into this repo.

[2021-01-13 15:31] mazzystr opened #673 "Create quickstart lab for Rancher k3s"
/kind enhancement

It would be useful to have a KubeVirt quickstart lab for using Kubevirt on k3s

ref: https://kubevirt.io/labs/

[2021-01-13 15:33] phoracek commented on #673
K3s issue on Kubevirt: https://github.com/kubevirt/kubevirt/issues/4731

[2021-01-13 17:04] mazzystr opened #674 "Create quickstart lab for Rancher HA"
/kind enhancement

It would be useful to have a KubeVirt quickstart lab for using Kubevirt on rancher

ref: https://kubevirt.io/labs/

[2021-01-15 14:28] codificat commented on #674
@mazzystr it's unclear to me how/if this is different from the k3s proposal (#673)?

[2021-01-17 17:58] #502 closed

[2021-01-19 18:56] mazzystr commented on #596
/remove-lifecycle rotten
/reopen

[2021-01-19 18:56] mazzystr commented on #601
/remove-lifecycle rotten
/reopen

[2021-01-19 18:58] mazzystr commented on #585
/remove-lifecycle rotten
/reopen

Re RSS's usefuleness... I'm not an RSS guy at all.  I think I took this from an adhoc conversation or another issue.  We can have an official discussion in the near future regarding the usefulness of RSS in relation to the website.

[2021-01-19 19:16] mazzystr commented on #528
/remove-lifecycle rotten
/reopen

[2021-01-19 19:18] mazzystr commented on #592
/remove-lifecycle rotten
/reopen

[2021-01-19 19:18] mazzystr commented on #268
/remove-lifecycle rotten
/reopen

[2021-01-20 12:12] codificat opened #681 "minikube addon is not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I attempted a deploy of KubeVirt on minikube using the addon, following the steps in the [minikube quickstart](https://kubevirt.io/quickstart_minikube/).

The addon was successfully enabled, but kubevirt was not actually deployed.

**What you expected to happen**:

KubeVirt actually deployed.

In case of a problem, maybe

[2021-01-20 12:13] codificat commented on #681
@mazzystr can you take a look?

[2021-01-29 10:45] codificat commented on #681
this is working now
/close

[2021-01-29 10:45] #681 closed

[2021-02-05 10:57] codificat commented on #670
This was addressed by kubevirt/user-guide#377

Thanks!
/close

[2021-02-05 10:57] #670 closed

[2021-02-15 04:39] outbackdingo opened #691 "vm appears running, but cant console, also seems ip keeps changing"
controller-0:~$ kubectl get vmis
NAME     AGE   PHASE     IP               NODENAME
testvm   64s   Running   172.16.192.163   controller-0
controller-0:~$ virtctl console testvm
Successfully connected to testvm console. The escape sequence is ^]

You were disconnected from the console. This has one of the following reasons:
 - another user connected to the console of the target vm
 - network issue

[2021-02-19 06:40] linsite opened #693 "[lab2 cdi experiment] virtual image size is larger than 4Gb"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
lab2 failed

[code]

**What you expected to happen**:
importer pod should succeed.

**Anything else we need to know?**:

[2021-02-19 21:13] mazzystr opened #694 "Need blog post to advertise user-guide migration"
/kind enhancement

user-guide has recently been updated with a new markdown engine.  Along with that numerous links and spelling errors were fixed.

We need a blog post to advertise this. Might as well send an email to kubevirt-dev mailing list also

[2021-02-19 21:35] mazzystr commented on #691
@outbackdingo This repo is for kubevirt.io website development.  Would you mind recreating this issue in kubevirt/kubevirt?  It will get much more attention.

[2021-02-19 21:40] mazzystr commented on #693
We aren't doing inline virtual disk conversion yet.  If your original virtual disk is 4 GiB then you have to have 8 GiB available in the storage class.  The virtual disk gets uploaded into pvc then it gets optimized/converted.

Can you check your hostclass and make sure you have 8 GiB?

[2021-02-20 01:36] linsite commented on #693
The PVC provided in the storage-setup.yml is 4GiB, I change it to 5GiB and the problem is solved. I guess this is not an issue, but the provided storage-setup.yml in lab needed to be updated to larger capacity, or the tutorial should be updated  to check the PVC is large enough before creating the PVC for a better experience.

[2021-02-22 18:48] codificat opened #695 "[lab2] PVC allocation fails with hostpath provisioner"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Followed the steps in [lab2](https://kubevirt.io/labs/kubernetes/lab2.html) on a minikube environment, and the `fedora` PVC was stuck in `Pending` state - and so was the importer pod.

**What you expected to happen**:

Lab steps should work flawlessly.

**Anything else we need to know?**:

Running this on a Fedora 33 hos

[2021-02-22 18:52] codificat commented on #693
I believe you are right and the [requested storage](https://github.com/kubevirt/kubevirt.github.io/blob/6257f8fcd64319627701984f7bb191419f11ba84/labs/manifests/pvc_fedora.yml#L14) should be updated to accomodate the bigger image size.

[2021-02-22 19:29] mazzystr commented on #693
https://github.com/kubevirt/kubevirt.github.io/blob/source/labs/manifests/pvc_fedora.yml#L8

Another option is to change the Fedora img because it's getting obnoxiously large.  This is a reason that Alpine, Cirros, Ubuntu dominate containerized workloads.

[2021-02-22 22:52] mazzystr opened #696 "vmctl client tool is deprecated"
vmctl client tool is deprecated and removed per https://github.com/kubevirt/user-guide/pull/395

Please review labs and non-blog pages and replace cases of `vmctl` use

Please create blog post with simple notification

[2021-02-22 23:05] mazzystr commented on #696
@davidvossel Are you able to take this on?

[2021-02-23 08:40] codificat commented on #693
Well, the Fedora image itself is relatively small (e.g. <200 MB vs 500+ MB for Ubuntu AFAICT from a quick look), but it as a virtual size of 4GiB that overflows the pvc by just a bit.

IMHO just increasing the requested PVC size is a simple straightforward change that will fix that and I'd vote for this (e.g. no need to update any references).

[2021-02-23 16:19] #693 closed

[2021-02-24 23:06] cwilkers opened #698 "Broken Link: windows_wirtio_drivers"
/kind bug

**What happened**:
make check_links_website job said:

- ./_site/2020/KubeVirt-installing_Microsoft_Windows_from_an_iso.html
  *  External link https://kubevirt.io/user-guide/virtual_machines/windows_wirtio_drivers/ failed: 404 No error
  *  External link https://kubevirt.io/user-guide/virtual_machines/windows_wirtio_drivers/#how-to-obtain-virtio-drivers failed: 404 No error
- ./_site/h

[2021-02-25 01:39] #698 closed

[2021-02-25 09:53] codificat commented on #696
There are no references to `vmctl` in the website AFAICT.
/close

[2021-02-25 09:53] #696 closed

[2021-02-25 16:22] mazzystr opened #700 "New user process to join Slack is not clear"
We have a report from a new user that had trouble joining k8s slack.

[code]

Let's see if we can put a notice on the community page to make the process easier

ref:  Invite page is here... https://slack.k8s.io/

[2021-02-25 17:00] mazzystr opened #701 "External link https://kubevirt.io//hostpath-provisioner-operator/ failed: 404 No error"
I'm not sure what's going on here and why all of a sudden this page 404s.

[code]

Yet this link works `https://kubevirt.io//hostpath-provisioner/`

[2021-02-26 01:49] mazzystr commented on #701
Email sent to kubevirt-dev ... https://groups.google.com/g/kubevirt-dev/c/V84I0gRNxIY

[2021-02-26 03:23] mazzystr commented on #701
@awels  Thanks for your help with this.

https://kubevirt.io/hostpath-provisioner-operator/ now browses and `make check_links` passes.

Closing this issue now

[2021-02-26 03:23] #701 closed

[2021-02-26 17:37] mazzystr opened #707 "Create quickstart lab for KubeVirt on Canonical / microk8s"
/kind enhancement

Create quickstart lab for KubeVirt on Canonical / microk8s

[2021-03-02 00:24] mazzystr commented on #691
No response within 15 days.  Closing issue.

[2021-03-02 00:24] #691 closed

[2021-03-03 01:30] mazzystr commented on #700
I just searched through all the CNCF sandbox projects.  At worst projects just use GitHub and markdown for their sites.  In the middle projects do what we do and link directly to the Slack channel.  CNCF themselves link directly to a channel in slack.

[OpenEBS](https://openebs.io/community) has a link to Slack channel and a panel for an invitation widget.

This might be worthwhile. Our Community

[2021-03-07 21:10] mazzystr commented on #661
/remove-lifecycle stale

On Sun, Mar 7, 2021, 12:02 PM kubevirt-bot <notifications@github.com> wrote:

[2021-03-18 13:40] mazzystr commented on #611
/remove-lifecycle stale

On Wed, Mar 17, 2021 at 4:57 PM kubevirt-bot ***@***.***>
wrote:

[2021-03-18 13:40] mazzystr commented on #666
/remove-lifecycle stale

On Wed, Mar 17, 2021 at 4:57 PM kubevirt-bot ***@***.***>
wrote:

[2021-03-18 23:05] mazzystr commented on #582
/remove-lifecycle rotten

On Thu, Mar 18, 2021 at 10:13 AM kubevirt-bot ***@***.***>
wrote:

[2021-03-18 23:05] mazzystr commented on #510
/remove-lifecycle rotten

On Thu, Mar 18, 2021 at 10:13 AM kubevirt-bot ***@***.***>
wrote:

[2021-03-18 23:05] mazzystr commented on #537
/remove-lifecycle rotten

On Thu, Mar 18, 2021 at 10:13 AM kubevirt-bot ***@***.***>
wrote:

[2021-03-18 23:06] mazzystr commented on #620
/remove-lifecycle rotten

On Thu, Mar 18, 2021 at 10:13 AM kubevirt-bot ***@***.***>
wrote:

[2021-03-18 23:06] mazzystr commented on #621
/remove-lifecycle rotten

On Thu, Mar 18, 2021 at 10:13 AM kubevirt-bot ***@***.***>
wrote:

[2021-03-21 21:48] mazzystr commented on #652
/remove-lifecycle stale

On Sun, Mar 21, 2021, 1:28 PM kubevirt-bot ***@***.***> wrote:

[2021-03-21 21:53] mazzystr commented on #652
@tylerauerbeck I would most welcome assistance with this.  Let's start with
a new Makefile target then I can help you with an addition to CI.

On Sun, Mar 21, 2021, 2:48 PM Mazzystr ***@***.***> wrote:

[2021-03-22 23:12] mazzystr opened #710 "Review & update CONTRIBUTING"
Review & update CONTRIBUTING.

I suggest we follow very closely to the Kubernetes page
https://github.com/kubernetes/kubernetes/blob/master/CONTRIBUTING.md

[2021-03-23 17:09] mazzystr opened #711 "Blog post for using virtual machines with Intel vGPU's"
/kind enhancement

https://github.com/kubevirt/kubevirt/pull/5215 was recently merged.

It would be great to create a blog post detailing real world use.

It would be +1 if screenshots of [a|h]top are added detailing how performance is improved using this feature.

It would be ++1 if a cost/benefit/depreciation analysis can be done showing Intel GPU vs others.

[2021-03-23 17:49] xphyr commented on #711
I will be happy to pick this up.  Let me take a look at how the web pages are created for this site and start some work on a post about the use of the Intel GPUs. I will make progress this week and post back here when I have something to share.

[2021-03-23 19:19] mazzystr commented on #711
Clone this repo
Create new blog markdown under `./_posts`
Build prereq images `make build_image_yaspeller && make build_image_casperjs`
Test locally using `make run`
Test syntax with `make check_spelling` and `make check_links`
Create a pull req.
The community will review and approve :)

I guess we need to update the README, hm?? New issues! ;)

[2021-03-23 19:22] xphyr commented on #711
I started by following these instructions: https://github.com/kubevirt/kubevirt.github.io/blob/source/GUIDELINES.md. I made a fork, created a branch and I also installed the pre-commit hooks. That being said, while attempting to store my work on my own fork the pre-commit hooks are failing.

[code]

This is running on a Fedora workstation that is fully patched/up to date. Suggestions on how to mov

[2021-03-23 19:49] mazzystr commented on #711
Whoa nelly ... GUIDELINES.md is very out of date too.  :/

On Tue, Mar 23, 2021 at 12:23 PM Mark D ***@***.***> wrote:

[2021-03-23 19:50] mazzystr opened #712 "Review and update GUIDELINES"
/kind bug
/kind enhancement

[GUIDELINES.md](https://github.com/kubevirt/kubevirt.github.io/blob/source/GUIDELINES.md) is very out of date.

Please review and update as needed

[2021-03-23 19:53] mazzystr opened #713 "Review and update README"
/kind bug
/kind enhancement

[README.md](https://github.com/kubevirt/kubevirt.github.io/blob/source/README.md) is out of date

Please review and update README.md as needed

I suggest we follow the [README.md in user-guide](https://github.com/kubevirt/user-guide/blob/master/README.md) as close as possible

* README should have a clear procedure on how to develop the website
* README should have a c

[2021-03-23 20:10] xphyr commented on #711
I think the Makefile also has some issues.... `make run` fails, but I updated the Makefile to use the command in the main readme, and things are looking better. I may try and make a few other Makefile changes to see if I can clean this up a little. Can you confirm that the pre-commit hooks are no longer needed.

[2021-03-23 20:41] mazzystr commented on #711
re Makefile ... sounds good.  I test with Fedora and and podman 2.2.
podman 3.0 is out now.  I haven't had time to circle and reverify things.

re pre-commit hooks ... They're definitely not needed.  I haven't used them
at all in the year I've been on KubeVirt.

On Tue, Mar 23, 2021 at 1:10 PM Mark D ***@***.***> wrote:

[2021-03-23 21:11] xphyr commented on #711
I am working on this here: https://github.com/xphyr/kubevirt.github.io/tree/issue%23711 if anyone is curious.

[2021-03-25 16:58] mazzystr commented on #695
@cwilkers tagged

[2021-03-25 20:37] cwilkers commented on #695
I tried with the latest minikube, which deploys v1.20.2.

This brings up a new error from the hostpath-provisioner controller:

[code]

Re-enabling the self-link feature gate when deploying Minikube seems to be the work-around:

```--feature-gates=RemoveSelfLink=false```

See https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/issues/25 for a similar issue

[2021-03-29 19:20] mazzystr commented on #712
* Section `Technical setup` can definitely be removed

[2021-03-29 23:25] mazzystr commented on #712
Please refer to https://github.com/kubevirt/community/issues/87

[2021-03-29 23:29] mazzystr commented on #710
Please refer to https://github.com/kubevirt/community/issues/87

[2021-03-29 23:39] mazzystr commented on #694
We missed the boat on this.  The community has talked about this repeatedly.  Let's just move on.

[2021-03-29 23:39] #694 closed

[2021-03-30 00:17] mazzystr opened #715 "Makefile needs to have img build consolidated into a single target"
Currently we have to deal with a container img for jekyll, yaspeller, yaspeller, htmlprooder and casperjs.  Let's combine all these pieces into a single img.  This will make CI much easier to deal with.

[2021-03-30 01:46] mazzystr opened #716 "Prow job to periodically build website img"
Img building is getting streamlined via https://github.com/kubevirt/kubevirt.github.io/issues/715

Once complete Prow should periodically build the website img and push to KubeVirt org in Docker Hub

[2021-03-30 01:54] mazzystr opened #717 "Makefile needs build target"
See https://github.com/kubevirt/user-guide/blob/master/Makefile#L190

This target will be used by Prow to build the website

[2021-03-30 01:57] mazzystr opened #718 "Prow job to automate merge strategy"
Prow job should automate the following...
* Merge pull req to master when pr is tagged
* Build website from master branch
* Merge master to gh-pages branch

Ref user-guide job: https://github.com/kubevirt/project-infra/blob/master/github/ci/prow-deploy/files/jobs/kubevirt/user-guide/user-guide-postsubmits.yaml

[2021-03-31 12:40] ansijain opened #721 "Weekly Updates are no longer updated"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Weekly Updates are no longer updated
 we can start updating Weekly Updates
We can add   KubeVirt Community Meeting Notes [https://docs.google.com/document/d/1kyhpWlEPzZtQJSjJlAqhPcn3t0Mt_o0amhpuNPGs1Ls/edit#heading=h.mgzbpcr5nu4a](https://docs.google.com/document/d/1kyhpWlEPzZtQJSjJlAqhPcn3t0Mt_o0amhpuNPGs1Ls/edit#heading=h.mgzbpcr5nu4a) in that sectio

[2021-03-31 15:50] #713 closed

[2021-03-31 19:08] cwilkers commented on #695
I was not able to duplicate the problem using minikube v1.17.1 so I will try to fix the bug I found on the current version. (v1.20.2)

[2021-03-31 20:52] #700 closed

[2021-03-31 21:23] mazzystr commented on #695
@cwilkers Are you seeing the bug in `latest` minikube / kubevirt?

[2021-04-06 00:18] cwilkers commented on #695
On latest minikube / kubernetes / kubevirt (v1.18.1 / v1.20.2 / v1.32.0)
I am seeing the above issue, but when we eliminate hostpath provisioner and use the minikube default storage class, "standard" the pvc creates with no issue.

After modifying the PVC to use the standard storage class, there is still an issue with the importer pod where it mishandles the URL's mirror redirect (302). I am still

[2021-04-06 18:17] eifrach commented on #715
/assign @eifrach

[2021-04-06 18:55] cwilkers commented on #695
Mirror redirect issue seems related to Fedora's own mirrors. As explained in https://github.com/kubevirt/containerized-data-importer/issues/1737 , CDI is not checking links before running a parallel download.

[2021-04-07 16:17] cwilkers commented on #695
I am working on a PR to the lab to switch to using Minkube's own hostpath storageclass, will link here when ready.

[2021-04-08 02:25] mazzystr opened #724 "user-case: ddesk.global"
Hello ddesk.global team!
We would love to hear about your use case.  Feel free to post a blog or create a video.

Example videos can be found on the KubeVirt YouTube channel.  Link is [here](https://www.youtube.com/c/KubeVirt/videos).

We would love to be able to use your use case when we petition the CNCF for graduating to incubation status.  We're reqd to present two.

Feel free to reach out to

[2021-04-08 22:44] #695 closed

[2021-04-12 18:04] mazzystr opened #726 "Review use of offensive language"
Review repo for offensive langauge

 * https://github.com/github/renaming
[code]

[2021-04-18 05:33] mazzystr commented on #621
/reopen

On Sat, Apr 17, 2021, 4:52 PM kubevirt-bot ***@***.***> wrote:

[2021-04-19 20:50] mazzystr commented on #592
/remove-lifecycle stale

On Mon, Apr 19, 2021 at 12:43 PM kubevirt-bot ***@***.***>
wrote:

[2021-04-19 20:51] mazzystr commented on #268
/remove-lifecycle stale

On Mon, Apr 19, 2021 at 12:43 PM kubevirt-bot ***@***.***>
wrote:

[2021-04-19 20:51] mazzystr commented on #528
/remove-lifecycle stale

On Mon, Apr 19, 2021 at 12:43 PM kubevirt-bot ***@***.***>
wrote:

[2021-04-19 21:01] mazzystr commented on #585
/remove-lifecycle stale

On Mon, Apr 19, 2021 at 12:43 PM kubevirt-bot ***@***.***>
wrote:

[2021-04-19 21:02] mazzystr commented on #596
/remove-lifecycle stale

On Mon, Apr 19, 2021 at 12:43 PM kubevirt-bot ***@***.***>
wrote:

[2021-04-23 21:30] mazzystr opened #730 "Speed up selector tests"
Current selector tests use a for loop to send lines of a csv to the container and then run a casperjs test.

We lose time spinning up the container, breaking it down just to spin it up for every iteration.

We might be able to speed this process up if we send the whole csv to the container then iterate.  We start/stop the container once.

[2021-04-30 09:17] ansijain opened #732 "Create a blog for kubevirt Code Code Walkthrough"
Create a blog for kubevirt Code Code Walkthrough

[2021-04-30 09:17] ansijain commented on #732
/kind enhancement

[2021-04-30 10:17] ansijain commented on #721
/kind enhancement

[2021-04-30 17:21] mazzystr commented on #732
@davidvossel What do you think about a special meeting on the KubeVirt zoom meeting?  We can record then blog and post to YouTube.

[2021-05-03 17:14] mazzystr opened #735 "Fix auto publishing of future dated blog posts"
Jekyll refrains from rendering html  for future dated blog posts.  This means there must be some kind of auto build and merge on the day a blog is to be published.  Normally this would be handled by a periodic job BUT since kubevirt.github.io is special and uses travis-ci for merge to master this isn't happening.

See [issues/671](https://github.com/kubevirt/kubevirt.github.io/issues/671)

[2021-05-03 20:53] davidvossel commented on #732
That might make sense. One concern I have is that our code base is constantly in flux. Things get moved around all the time. For example, I could cover the location for our API being in the `staging` directory, then we might move that around in the future.

I might be able to talk about the structure in broader terms though.

@ansijain What kind of information would you find useful here?

[2021-05-04 05:15] ansijain commented on #732
Thank you for the response.

I am new to kubevirt community. I want to get more familiar with the code base so that I can start code contribution.

It would be great if you help me with structure or any relevant information that is helpful for contribution.

[2021-05-04 15:37] davidvossel commented on #732
@ansijain  have you checked out our getting started [1] and contributing [2] guides? Have those been helpful with onboarding ?

1. https://github.com/kubevirt/kubevirt/blob/master/docs/getting-started.md
2. https://github.com/kubevirt/kubevirt/blob/master/CONTRIBUTING.md

[2021-05-04 15:50] ansijain commented on #732
@davidvossel yes I have gone through these documents. It was really helpful.
But with this I am expecting some overview on code side. If that is possible.

[2021-05-04 16:59] davidvossel commented on #732
possibly ,I'm unsure about the scope of what we're talking about here though. Do you have an example of another project that provides the kind of code walk-through you're interested in?

[2021-05-04 17:26] ansijain commented on #732
@davidvossel
I am expecting walk-through something like in this video [1] and blog [2]

[1] https://developer.ibm.com/conferences/oscc_become_a_kubernetes_contributor/kubernetes_scheduler_code_walkthrough/
[2] https://developer.ibm.com/components/kubernetes/articles/a-tour-of-the-kubernetes-source-code/

[2021-05-04 21:26] davidvossel commented on #732
Thanks, I'll give this some thought. It might take some time before I can look at this closer.

[2021-05-18 18:42] mazzystr commented on #621
/reopen
/remove-lifecycle rotten

On Mon, May 17, 2021 at 11:28 PM kubevirt-bot ***@***.***>
wrote:

[2021-05-19 17:59] mazzystr commented on #732
May this diagram helps?

https://kubernetes.slack.com/files/U2WUVHD6Y/F0221FWU6KW/kubevirt_create_vmi_seq_diagram.jpg

On Tue, May 4, 2021 at 2:27 PM David Vossel ***@***.***>
wrote:

[2021-05-21 06:00] ansijain commented on #732
Yes this sequence diagram is helpful.

[2021-05-27 20:27] mazzystr commented on #707
/remove-lifecycle stale

On Thu, May 27, 2021 at 11:09 AM kubevirt-bot ***@***.***>
wrote:

[2021-06-01 19:10] mazzystr opened #741 "Add users / vendors section to front page"
It would be really cool to have a list of users and vendors logos listed on the kubevirt.io print page.

* See https://falco.io for a template
* Users: SUSE, Nvidia, Cloudbase Solutions, CoreWeve, Inc
* Vendors: IBM, Red Hat

[2021-06-07 22:44] mazzystr commented on #601
/remove-lifecycle stale

On Mon, Jun 7, 2021 at 3:21 PM kubevirt-bot ***@***.***>
wrote:

[2021-06-07 22:44] mazzystr commented on #671
/remove-lifecycle stale

On Mon, Jun 7, 2021 at 2:21 PM kubevirt-bot ***@***.***>
wrote:

[2021-06-07 22:44] mazzystr commented on #673
/remove-lifecycle stale

On Mon, Jun 7, 2021 at 2:21 PM kubevirt-bot ***@***.***>
wrote:

[2021-06-08 03:19] mazzystr opened #742 "No exit code for make check_spelling"
/kind bug

There's been some enhancement to Makefile in the last few months.  Somewhere along the line we lost the exit code for `make check_spelling`.  This is a highly sensitive area of the code.  I suggest we bring back code from [e4a4c89c](https://github.com/kubevirt/kubevirt.github.io/commit/e4a4c89cb4ee9212db9ff709197cd0be9162866c#diff-76ed074a9305c04054cdebb9e9aad2d818052b07091de1f20cad0bba

[2021-06-08 03:54] mazzystr opened #744 "No exit code for selector section in make check_links"
/kind bug

There's been some enhancement to Makefile in the last few months.  Somewhere along the line we lost the exit code for the casperjs selectors checking section of `make check_links`.

This is a highly sensitive area of the code. Please test thoroughly.

[2021-06-09 21:49] #742 closed

[2021-06-14 18:10] #730 closed

[2021-06-14 18:10] #744 closed

[2021-06-16 15:24] mazzystr commented on #611
/remove-lifecycle stale

On Wed, Jun 16, 2021 at 7:34 AM kubevirt-bot ***@***.***>
wrote:

[2021-06-16 15:24] mazzystr commented on #666
/remove-lifecycle stale

[2021-06-17 10:18] ansijain commented on #721
/kind bug

[2021-06-17 10:28] ansijain commented on #721
/remove-kind-enhancement

[2021-06-17 10:33] ansijain commented on #721
/remove-kind enhancement

[2021-06-22 13:00] xphyr commented on #711
@mazzystr I think this can now be closed out.

[2021-06-23 15:25] #711 closed

[2021-06-25 15:53] mazzystr opened #753 "Investigate cockroachdb/htmltest for link checking"
HTMLProofer causes non stop issues.

Let's investigate [cockroachdb/htmltest](https://github.com/cockroachdb/htmltest) and see if it's a viable replacement

[2021-06-29 18:39] mazzystr commented on #717
/remove-lifecycle stale

[2021-06-29 18:50] mazzystr commented on #717
/close

[2021-06-29 18:50] #717 closed

[2021-06-29 19:04] mazzystr commented on #718
Complete per https://github.com/kubevirt/project-infra/pull/1391

[2021-06-29 19:04] #718 closed

[2021-06-29 19:07] mazzystr commented on #716
/remove-lifecycle stale

[2021-06-29 19:12] mazzystr opened #759 "Need multi node section added to minikube lab"
minikube now has a multi node function.  We should add a multi node section to the minikube lab.

[2021-06-29 19:16] mazzystr opened #760 "Lab for Live Migration"
/kind enhancement

KubeVirt has a Live Migration feature.  We should create a lab page describing how to use this feature.

[2021-06-29 19:26] cwilkers commented on #759
We can close this now

https://kubevirt.io/labs/kubernetes/migration.html

[2021-07-06 17:03] mazzystr commented on #760
.....and new page is published.

Closing issue

[2021-07-06 17:03] #760 closed

[2021-07-06 17:07] mazzystr commented on #671
This is complete

/close

[2021-07-06 17:07] #671 closed

[2021-07-06 17:14] mazzystr commented on #759
Multi-node section is currently sitting between `Deploy KubeVirt` and `Virtctl`.  The section needs to be moved to a section as a `###` under `## Prepare minikube Kubernetes environment`

[2021-07-07 20:36] mazzystr commented on #661
/remove-lifecycle rotten

On Mon, Jul 5, 2021 at 3:02 PM kubevirt-bot ***@***.***>
wrote:

[2021-07-07 20:36] mazzystr commented on #665
/remove-lifecycle rotten

On Mon, Jul 5, 2021 at 10:03 AM kubevirt-bot ***@***.***>
wrote:

[2021-07-21 03:00] tylerauerbeck commented on #652
@mazzystr Opened #765 as I saw this was still open (and was going stale again) and I saw that none of the previous PR's had been merged. Tried to take some of the notes from the others as a good starting point. Is the idea to have the linter merged first and then address the lint errors?

[2021-07-21 21:44] #652 closed

[2021-07-22 00:41] tylerauerbeck opened #766 "Fix current lint issues in markdown files"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

After resolving #652 , this repo needs to have its current markdown errors resolved.

**What you expected to happen**:

`make check_lint` should complete successfully

**Anything else we need to know?**:

There appear to be ~40 files with a fair amount of markdown issues. Should this be done as one large PR? Or m

[2021-07-23 19:09] mazzystr commented on #674
/remove-lifecycle stale

On Wed, Jun 23, 2021, 10:50 AM kubevirt-bot ***@***.***>
wrote:

[2021-08-15 16:19] #611 closed

[2021-08-15 16:19] #666 closed

[2021-08-16 00:19] #510 closed

[2021-08-16 00:19] #582 closed

[2021-08-16 00:19] #537 closed

[2021-08-16 00:19] #620 closed

[2021-08-22 19:26] #674 closed

[2021-08-23 17:03] #766 closed

[2021-08-24 04:54] ansijain opened #772 "Incorrect Yaml used in https://kubevirt.io/labs/kubernetes/migration.html"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:  I tried live migration using https://kubevirt.io/labs/kubernetes/migration.html
the [yaml](https://kubevirt.io/labs/manifests/vm.yaml) file used here used bridge network but for live migration masquerade is required. I am getting bellow error
[code]

**What you expected to happen**: VM should migrate successfully without

[2021-08-24 05:50] ansijain commented on #772
/assign

[2021-08-25 16:19] mazzystr opened #775 "Website blog/gallery/labs/community pages not rendering correctly"
/kind bug

**What happened**:
https://kubevirt.io/blogs/
https://kubevirt.io/gallery/
https://kubevirt.io/labs/
https://kubevirt.io/community/

...pages are broke.  Please repair.

Likely related to the default template from https://github.com/kubevirt/kubevirt.github.io/pull/762/files

**What you expected to happen**:
Pages should render correctly

**Anything else we need to know?**:
Nope

[2021-08-25 16:57] #775 closed

[2021-08-25 20:35] mazzystr opened #778 "Obtain permission to advertise Rancher on index page"
/kind enhancement

**What happened**:
The initial index page update pull request was open for 6 weeks.  During this time frame we were unable to obtain permissions to advertise Rancher.

Let's find the Rancher representative and obtain explicit permission to advertise.

**What you expected to happen**:

**Anything else we need to know?**:
The data is in place.  We just need to uncomment [here](htt

[2021-08-25 20:40] mazzystr opened #779 "Obtain permission to advertise H3C on index page"
/kind enhancement

**What happened**:
The initial index page update pull request was open for 6 weeks.  During this time frame we were unable to obtain permissions to advertise H3C.

Let's find the H3C representative and obtain explicit permission to advertise.

**What you expected to happen**:

**Anything else we need to know?**:
The data is in place.  We just need to uncomment [here](https://git

[2021-08-25 20:41] mazzystr opened #780 "Obtain permission to advertise Cloudflare on index page"
/kind enhancement

**What happened**:
The initial index page update pull request was open for 6 weeks.  During this time frame we were unable to obtain permissions to advertise Cloudflare.

Let's find the Cloudflare representative and obtain explicit permission to advertise.

**What you expected to happen**:

**Anything else we need to know?**:
The data is in place.  We just need to uncomment [her

[2021-08-25 20:42] mazzystr opened #781 "Obtain permission to advertise StackPath on index page"
/kind enhancement

**What happened**:
The initial index page update pull request was open for 6 weeks.  During this time frame we were unable to obtain permissions to advertise StackPath.

Let's find the StackPath representative and obtain explicit permission to advertise.

**What you expected to happen**:

**Anything else we need to know?**:
The data is in place.  We just need to uncomment [here]

[2021-08-25 20:44] mazzystr opened #782 "Obtain permission to advertise Apple on index page"
/kind enhancement

**What happened**:
Let's find the Apple representative and obtain explicit permission to advertise.

**What you expected to happen**:

**Anything else we need to know?**:
Add logo [here](https://github.com/kubevirt/kubevirt.github.io/tree/master/assets/images/adopters)
Add data [here](https://github.com/kubevirt/kubevirt.github.io/blob/master/_data/adopters.yml)

[2021-08-26 16:17] mazzystr opened #783 "Obtain permission to advertise Google on index page"
/kind enhancement

**What happened**:
Let's find the Google representative and obtain explicit permission to advertise.

**What you expected to happen**:

**Anything else we need to know?**:
Add logo [here](https://github.com/kubevirt/kubevirt.github.io/tree/master/assets/images/adopters)
Add data [here](https://github.com/kubevirt/kubevirt.github.io/blob/master/_data/adopters.yml)

[2021-08-26 17:17] tylerauerbeck opened #784 "Missing CONTRIBUTING.md"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When clicking on details for the DCO signoff task in a PR, it redirects to a CONTRIBUTING.md that doesn't exist

![image](https://user-images.githubusercontent.com/29497147/131006817-37cb10d0-7cee-4c26-aaea-2024763419ac.png)

**What you expected to happen**:
Get redirected to an existing CONTRIBUTING.md file.

**Anything e

[2021-08-27 03:47] tylerauerbeck opened #785 "Run make targets for each PR"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

In https://github.com/kubevirt/kubevirt.github.io/pull/719#discussion_r604195300, it was mentioned that the end goal is to run the following targets for each PR:

- make check_lint
- make check_spelling
- make check_links

Right now (at least from what I can see), it doesn't appear that these are being run as par

[2021-08-27 17:25] mazzystr opened #786 "Adjust main branch to use respectful language"
/kind enhancement

**What happened**:
Current standard of this repos main branch name `master` is not respectful to some contributors and/or users of KubeVirt

**What you expected to happen**:
Please adjust the main branch name to `main`.

**Anything else we need to know?**:
* Repo admin privledges will be necessary.  Please coordinate with @mazzystr
* Ensure repo config enforcement in [CI/Prow](h

[2021-08-29 09:55] kobi86 commented on #775
Hi @mazzystr,
Maybe [this](https://github.com/kobi86/CheckUrl) can help is some way .
I you want me to adjust something to make it work with our project please let me know :)

[2021-08-30 15:27] jberkus commented on #783
I can ask, but how do we know that Google is a user?

[2021-08-31 00:06] mazzystr commented on #783
They're among us.  I've spoken to one regarding but was told not yet.  The
topic might be better approached from the OSPO level.

On Mon, Aug 30, 2021 at 8:27 AM Josh Berkus ***@***.***>
wrote:

[2021-08-31 22:25] tylerauerbeck commented on #785
@mazzystr @cwilkers I'm going to make an assumption (not having done all that much with Prow before) that this would go here: https://github.com/kubevirt/project-infra/blob/main/github/ci/prow-deploy/files/jobs/kubevirt/kubevirt.github.io/kubevirt-github-io-presubmits.yaml

Let me know if that makes sense and I can take a look at this (and potentially pull in #716 as well)

[2021-08-31 23:18] cwilkers commented on #785
I'll admit ignorance to our CI process, but to my understanding, the kubevirt-github-io-presubmits.yaml you linked to runs rake, which takes its commands from the repo's Rakefile, not Makefile.
Makefiles I understand. Rakefiles not so much.

[2021-08-31 23:36] mazzystr commented on #785
Hi, yes we want that but not here.  Take a look at the project-infra repo.
You'll find a presubmits job.  Currently we only have `make check_links` in
the job.  It would be awesome to also have the other check targets.

Rakefile is like Makefile for ruby apps.  The default target does link
checks also.  We need to decouple that since it means we are checking links
twice.

I'm down right now for a

[2021-09-01 01:41] tylerauerbeck commented on #785
@mazzystr No problem. Happy to learn more about this and help add a few things here

[2021-09-05 03:56] #724 closed

[2021-09-06 12:29] ansijain commented on #732
/remove-lifecycle stale

[2021-09-07 15:20] mazzystr opened #792 "Obtain permission to advertise NEC on index page"
/kind enhancement

**What happened**:
Let's find the NEC representative and obtain explicit permission to advertise.

**What you expected to happen**:

**Anything else we need to know?**:
Add logo [here](https://github.com/kubevirt/kubevirt.github.io/tree/master/assets/images/adopters)
Add data [here](https://github.com/kubevirt/kubevirt.github.io/blob/master/_data/adopters.yml)

[2021-09-07 16:35] mazzystr commented on #673
/remove-lifecycle stale

On Sun, Sep 5, 2021 at 4:33 PM kubevirt-bot ***@***.***>
wrote:

[2021-09-07 16:36] mazzystr commented on #601
/remove-lifecycle stale

On Sun, Sep 5, 2021 at 4:33 PM kubevirt-bot ***@***.***>
wrote:

[2021-09-07 16:56] mazzystr commented on #724
desk.global team has fallen off the radar.  Let's keep this issue closed.
If they rejoin us we can reopen and or create a new issue.

On Sat, Sep 4, 2021 at 8:56 PM kubevirt-bot ***@***.***>
wrote:

[2021-09-07 17:41] mazzystr opened #793 "Obtain permission to advertise Gardener on index page"
/kind enhancement

**What happened**:
Let's find the Gardener representative and obtain explicit permission to advertise.

**What you expected to happen**:

**Anything else we need to know?**:
Add logo [here](https://github.com/kubevirt/kubevirt.github.io/tree/master/assets/images/adopters)
Add data [here](https://github.com/kubevirt/kubevirt.github.io/blob/master/_data/adopters.yml)

[2021-09-07 23:25] mazzystr commented on #741
/remove-lifecycle stale

On Thu, Sep 2, 2021 at 2:23 PM kubevirt-bot ***@***.***>
wrote:

[2021-09-07 23:35] mazzystr commented on #741
Complete

[2021-09-07 23:35] #741 closed

[2021-09-08 13:53] mazzystr commented on #782
@mlsorensen ping

[2021-09-15 15:40] tylerauerbeck commented on #726
/reopen

[2021-09-15 15:40] tylerauerbeck commented on #726
@mazzystr Didn't think I would have the power to reopen, but gave it a shot anyway. This probably needs reopened as there is still some work to do here.

[2021-09-15 15:47] mazzystr commented on #721
/remove-lifecycle stale

On Wed, Sep 15, 2021 at 4:03 AM kubevirt-bot ***@***.***>
wrote:

[2021-09-16 22:32] #585 closed

[2021-09-21 21:20] mazzystr commented on #621
/remove-lifecycle rotten

[2021-09-27 19:11] tylerauerbeck commented on #716
@mazzystr Is this related to https://github.com/kubevirt/project-infra/pull/1332 ? Or are those two different?

[2021-09-27 23:19] gmannos commented on #792
Hi, I am from NEC and will bring/discuss this to our team about the possibility of using log/data.

[2021-09-29 16:12] mazzystr commented on #716
I think kubevirt/project-infra#1332 is no longer valid since the
functionality was implemented via a different pull req created by dhiller.

This issue is to get a periodic job created so the post submit job can also
run like a cron job.  This allows the website to have scheduled publishing
of blogs posts or other website updates.

On Mon, Sep 27, 2021 at 12:12 PM Tyler Auerbeck ***@***.***>
wrote

[2021-09-29 16:33] mazzystr commented on #707
/remove-lifecycle rotten

On Fri, Sep 24, 2021 at 2:07 PM kubevirt-bot ***@***.***>
wrote:

[2021-09-29 17:14] mazzystr commented on #753
/remove-lifecycle stale

On Thu, Sep 23, 2021 at 9:07 AM kubevirt-bot ***@***.***>
wrote:

[2021-10-01 20:33] mazzystr opened #799 "CI issue .... kubevirt-io-presubmit-markdown-linter img is missing podman"
/kind bug

**What happened**:
CI job kubevirt-io-presubmit-markdown-linter is failing

Log from kubevirt-io-presubmit-markdown-linter

[2021-10-04 05:15] ansijain opened #801 "Add SIG - Performance & Scale Meetings videos in the Community Meeting section"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**: Add New Videos of [SIG - Performance & Scale Meetings](https://www.youtube.com/watch?v=0_n5r_qyI-I&list=PLnLpXX8KHIYxbPDcPqitNI8o5Bmoe5ZP6) in [videos](https://kubevirt.io/videos/community/meetings.html)

**What you expected to happen**: Reference to  SIG - Performance & Scale Meetings Videos should also be there

[2021-10-04 05:20] ansijain opened #802 "Add KubeVirt Summit videos in the Videos section"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind enhancement

**What happened**: Add [KubeVirt Summit](https://www.youtube.com/watch?v=BX0k5jnyNag&list=PLnLpXX8KHIYyQi7Phsf5-73r5fj1AOBox) videos in [videos](https://kubevirt.io/videos/) section of website

**What you expected to happen**: KubeVirt Summit video playlist should be there in website videos section

**Anything else we need to know?

[2021-10-04 06:24] ansijain commented on #801
/assign

[2021-10-04 06:36] ansijain commented on #802
/kind enhancement

[2021-10-04 07:40] ansijain commented on #802
/assign

[2021-10-04 15:26] mazzystr commented on #802
We use YouTube for video storage, search and rendering.  I would accept a page with integrations to the YouTube videos similar to the front page video.  The summit playlist and videos is [here](https://www.youtube.com/watch?v=BX0k5jnyNag&list=PLnLpXX8KHIYyQi7Phsf5-73r5fj1AOBox)

[2021-10-04 15:31] ansijain commented on #802
Thanks for the playlist.
I have started working on this one

[2021-10-04 15:58] #801 closed

[2021-10-04 18:29] mazzystr commented on #759
/remove-lifecycle stale

On Mon, Oct 4, 2021 at 11:19 AM kubevirt-bot ***@***.***>
wrote:

[2021-10-05 21:50] mazzystr commented on #661
/remove-lifecycle stale

On Tue, Oct 5, 2021 at 2:22 PM kubevirt-bot ***@***.***>
wrote:

[2021-10-06 15:58] mazzystr commented on #799
See https://github.com/kubevirt/project-infra/pull/1642

[2021-10-06 16:06] mazzystr commented on #799
Let's try to use the image that is built from `make build_img`.  That img is packed with everything needed to run all the make targets.  It will need to be published to quay.io / kubevirt user.  Please work with @dhiller

[2021-10-07 16:23] mazzystr opened #805 "Add CNCF videos to video section"
/kind enhancement

Community members have presented KubeVirt many times at CNCF events.  Those sessions were recorded and posted to the CNCF YouTube channel.  I think it would be useful to add another category like Videos > Community > CNCF Events to the videos page.

The search string url is the following: https://www.youtube.com/c/cloudnativefdn/search?query=kubevirt

@ansijain Would you like to

[2021-10-21 21:25] #268 closed

[2021-10-21 22:24] #592 closed

[2021-10-26 17:17] mazzystr opened #810 "Obtain permission to advertise STACKPATH on index page"
/kind enhancement

**What happened**:
Let's find the STACKPATH representative and obtain explicit permission to advertise.

**What you expected to happen**:

**Anything else we need to know?**:
Add logo [here](https://github.com/kubevirt/kubevirt.github.io/tree/master/assets/images/adopters)
Add data [here](https://github.com/kubevirt/kubevirt.github.io/blob/master/_data/adopters.yml)

[2021-10-26 23:42] mazzystr opened #811 "Publish link to All Things Open 2021 video"
/kind enhancement

Add link to All Things Open 2021 Intro to KubeVirt session to videos page

https://www.youtube.com/c/AllThingsOpen

[2021-10-29 16:27] mazzystr opened #812 "Obtain permission to advertise ARM on index page"
/kind enhancement

**What happened**:
Let's find the ARM representative and obtain explicit permission to advertise.

**What you expected to happen**:

**Anything else we need to know?**:
Add logo [here](https://github.com/kubevirt/kubevirt.github.io/tree/master/assets/images/adopters)
Add data [here](https://github.com/kubevirt/kubevirt.github.io/blob/master/_data/adopters.yml)

[2021-10-29 18:28] mazzystr commented on #812
https://github.com/kubevirt/kubevirt/pull/6704

[2021-11-02 16:35] mazzystr commented on #812
arm requests that we follow their corporate logo standards as detailed here ..... https://www.arm.com/company/policies/trademarks/guidelines-corporate-logo

[2021-11-03 02:19] zhlhahaha commented on #812
We have gotten Arm permission to advertise the Arm logo on the KubeVirt website.

[2021-11-04 22:19] mazzystr opened #814 "Adopters script failures"
/kind bug

**What happened**:
Adopters script will fail for the following circumstances
* if img file isn't png
* if there is more than one img file in the adopters directory

Please update adopters.py to fix these cases.

[2021-11-04 23:18] mazzystr commented on #814
/close

[2021-11-04 23:18] #814 closed

[2021-11-04 23:37] mazzystr commented on #592
/remove-lifecycle rotten

On Thu, Oct 21, 2021 at 3:24 PM kubevirt-bot ***@***.***>
wrote:

[2021-11-08 13:05] cwilkers commented on #726
/remove-lifecycle rotten

[2021-11-08 13:06] cwilkers commented on #726
/reopen

[2021-11-09 01:45] #812 closed

[2021-11-16 14:50] #786 closed

[2021-11-16 19:03] mazzystr opened #817 "Netlify is broke"
/kind bug

**What happened**:
Netlify is no longer hooked into kubevirt.github.io CI

**What you expected to happen**:
New pull reqs should run Netlify preview.  This ensure that the website can build properly before code updates are merged to main branch then built to gh-pages branch

[2021-11-16 23:39] #817 closed

[2021-12-06 19:50] cwilkers commented on #726
Searching the actual repo content finds many instances of the potentially offensive language, but mostly in dated blog posts. Rather than try to rewrite so many older posts, we may choose to leave older posts alone, and adopt a new CI check to warn if new content contains words deemed potentially offensive.

[2021-12-13 16:44] baromm14 opened #820 "Dead Link on kubevirt minikube quickstart guide."
/kind bug

The link to "skew" on the website leads to a 404. Located under the "Prepare minikube kubernetes environment" heading.

URL where the problem can be found ...

https://kubevirt.io/quickstart_minikube/

[2021-12-13 17:07] mazzystr commented on #820
It looks like there has been a massive refactor to the
https://github.com/kubernetes/community repo

A suitable new target link should be
https://kubernetes.io/releases/version-skew-policy/

On Mon, Dec 13, 2021 at 8:44 AM Bill Bell ***@***.***> wrote:

[2021-12-13 17:27] baromm14 commented on #820
Great, thanks Chris! Just noticed it during some learning / training. I
hope NASA is awesome!

On Mon, Dec 13, 2021 at 12:08 PM Chris Callegari ***@***.***>
wrote:

--

William Bell

Integration Engineer - OpenShift Virtualization

Red Hat <https://www.redhat.com/>
<https://www.redhat.com/>

[2021-12-14 03:35] #820 closed

[2022-01-05 22:57] jberkus commented on #783
Since we don't have a name of anyone at Google who definitely uses Kubevirt, I suggest closing this for now.

[2022-01-12 13:31] cwilkers commented on #726
Now working from a new search:

[code]

[2022-01-14 22:27] #726 closed

[2022-01-22 22:30] #778 closed

[2022-01-22 22:30] #779 closed

[2022-01-22 22:30] #781 closed

[2022-01-22 22:30] #780 closed

[2022-01-23 18:31] #784 closed

[2022-01-28 19:38] #735 closed

[2022-01-29 02:38] #785 closed

[2022-02-03 13:42] #732 closed

[2022-02-04 17:38] stu-gott commented on #805
/remove-lifecycle rotten

[2022-02-04 17:42] #601 closed

[2022-02-04 17:42] #673 closed

[2022-02-04 18:42] #793 closed

[2022-02-04 23:42] #783 closed

[2022-02-05 14:43] #782 closed

[2022-02-12 16:46] #721 closed

[2022-02-16 14:35] mazzystr opened #830 "website ssl certificate has expired"
/kind bug

**What happened**:
website ssl certificate has expired

**What you expected to happen**:

**Anything else we need to know?**:

https://kubevirt.io

[2022-02-16 14:52] mazzystr opened #831 "yaspeller / markdown-it dependency security issue"
/kind bug

**What happened**:
GitHub is triggering a dependency alert with markdown-it and yasspeller.

Please update.

[2022-02-25 00:53] #792 closed

[2022-02-26 18:53] #753 closed

[2022-03-04 23:01] #661 closed

[2022-03-17 01:16] #799 closed

[2022-03-24 06:04] bramnet opened #835 "Keeps crashlooping in K3S"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Pods for virt-operator keep crashlooping

**What you expected to happen**:
For them to deploy as expected

**Anything else we need to know?**:
I'm trying to run a kubectl describe on both the pods and the deployment, but it won't return anything despite the fact that I can see it in the GUI manager I'm using (Rancher)

I'

[2022-03-25 17:46] #810 closed

[2022-03-26 00:44] #811 closed

[2022-03-28 18:49] #716 closed

[2022-05-12 11:47] netmenya opened #842 "Missing link to adopter on index"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Logos of adopters (vendors, end users, ...) are wrapped in a link with empty `href` attribute.

Rendered code:
[code]

Source code:
[code]

The issue is with property name: `url` is used instead of `link` like it's defined in [adopters data](https://github.com/kubevirt/kubevirt.github.io/blob/main/_data/adopters.yml).

**A

[2022-05-12 17:04] #842 closed

[2022-05-17 15:00] mazzystr commented on #830
/remove-lifecycle stale

On Tue, May 17, 2022, 7:47 AM kubevirt-bot ***@***.***> wrote:

[2022-05-19 21:38] jseguillon opened #844 "Minikube lab: emulation is no more supported via configmap"
/kind bug

There is noe more configmap for configuring KubeVirt. Labs such as [Minikube](https://github.com/kubevirt/kubevirt.github.io/blob/1723d9a9c808f706e202c85eb882d5c69f234fbd/pages/quickstart_minikube.md?plain=1#L94)   must now explain emulation via `kind: kubevirt` in namespace `kubevirt`

Using a `kubectl patch` for example

[2022-05-19 21:38] jseguillon commented on #844
/kind bug

[2022-05-31 16:21] crasu opened #845 "Critical network error: Couldn't configure ip nat rules"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I tried to setup kubevirt with minikube by following this tutorial on Ubuntu (https://kubevirt.io/quickstart_minikube/). This results in the VM going into CrashLoopBackOff:
[code]

The handler stops the vm immediately and the following error messages show up in the handler log:
[code]
**What you expected to happen**:
The

[2022-06-06 02:24] Snozzberries opened #846 "Issue with quay.io image"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
When using `kubectl start vmtest` the vm enters `CrashLoopBackOff` state when using the latest vm.yaml manifest from the labs.
https://github.com/kubevirt/kubevirt.github.io/blob/main/labs/manifests/vm.yaml

**What you expected to happen**:
The vm to enter the `Running` state.

**Anything else we need to know?**:
Utilizi

[2022-06-23 09:52] aburdenthehand opened #850 "Make build_img fails to build website locally"
/kind bug

**What happened**:
Trying to perform local build of kubevirt.github.io/ as per https://github.com/kubevirt/kubevirt.github.io#test-work
$make build_img
Currently failing - my guess is around line 20 of the Dockerfile.

**What you expected to happen**:
Make command completes and I can build website locally to review changes.

**Anything else we need to know?**:
Running Fedora 34
Here is

[2022-07-04 08:42] iranzo opened #854 "Katacoda has been shut down"
Check https://itnext.io/katacoda-to-killercoda-migration-guide-d21961fc0c9b or alternatives

[2022-07-04 19:42] #805 closed

[2022-07-05 20:42] cwilkers commented on #850
I was able to update the Dockerfile locally to create a working image from Fedora 36 (which also required a Makefile adjustment to run the local webpage copy. I'll create some PRs to adjust here and in project-infra, but I will need a second pair of eyes to make sure the updates do not damage part of our CI/CD pipeline.

[2022-07-05 20:53] cwilkers commented on #830
Hey @mazzystr I guess somebody rescued us in June, because it's currently up to date, but it would be nice to know who did that because it expires again in September.

[2022-07-05 20:53] cwilkers commented on #831
/remove-lifecycle rotten

[2022-07-05 20:54] cwilkers commented on #831
/remove-lifecycle stale

[2022-07-05 20:57] cwilkers commented on #854
Thanks @iranzo I'll look into migrating.

[2022-07-05 21:16] cwilkers commented on #831
Are these related to the dependabot PRs I just merged, or something else? (I don't see any other alerts)

[2022-07-08 16:39] #850 closed

[2022-07-22 23:20] bramnet commented on #835
/remove-lifecycle-rotten

[2022-07-23 18:26] yeddr opened #858 "I am getting unable to read URL "https://github.com/kubevirt/kubevirt/releases/download//kubevirt-cr.yaml", server reported 404 Not Found, status code=404,as error in my ubuntu OS while installing kubevirtin "The in-depth way" of kubevirt official instructions"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**Anything else we need to know?**:

[2022-07-23 18:27] #858 closed

[2022-07-27 16:43] KIRY4 opened #859 "Unable to schedule VM on kind"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Hello! I went through following steps: https://kubevirt.io/quickstart_kind/. Successfully installed kind, kubevirt operator and crd's.
Now I'm trying to deploy VM following this manual: https://kubevirt.io/labs/kubernetes/lab1. And VM stuck in following state.
[code]
[code]

**What you expected to happen**:
VM should successfully sc

[2022-07-27 18:49] shannonmitchell commented on #845
Seeing the exact same thing using minikube v1.26.0 on fedora 26.  I'm running kubevirt v0.55.0 using the minikube addon. Looking through the virt-handler logs showed some issues with the handler finding /var/run/libvirt/libvirt-* & /dev/mem files along with the same network issues you mention.

Looks like a possible permission issue. It works fine running as root and starting with 'minikube start

[2022-08-03 15:55] stu-gott commented on #845
/cc @phoracek

[2022-08-10 11:50] maiqueb commented on #845
You're using an unsupported K8s version: v1.20.2

The KubeVirt project only supports the previous 3 kubernetes releases, 1.22 / 1.23 / 1.24.

I recommend you retry with a newer version.

Furthermore, I find suspicious that the error points specifically at configuring IPtables rules - not at creating the tap device  / bridges - which are also privileged operations that occur [before](https://github

[2022-08-10 12:22] crasu commented on #845
At the time it failed with the newest version. Just tried 1.24 fails with the same message.

minikube start --kubernetes-version='v1.24.0' --driver=kvm2 --cni=flannel --memory=8gb --cpus=8

[2022-08-15 18:03] #854 closed

[2022-08-15 19:08] lucasgonze commented on #845
What are your thoughts on the IPtables clue, @maiqueb ? What does it imply to you?

[2022-08-16 09:27] maiqueb commented on #845
We've seen issues in the past with nodes having old kernel versions. What is the kernel version of your host ?

I am thinking along the lines of this [opened issue](https://github.com/kubevirt/kubevirt/issues/7006), where iptables (which is [deprecated](https://groups.google.com/g/kubevirt-dev/c/tt61gZtYa-0/m/ngr3kUkeAwAJ) in KubeVirt) was being used instead of nftables - in this issue there's a t

[2022-08-17 11:14] lyarwood opened #862 "push-kubevirt.github.io-main-build-and-push-to-gh-pages failing with `LoadError: cannot load such file -- {awesome_print, html-proofer}`"
/kind bug

**What happened**:

https://storage.googleapis.com/kubevirt-prow/logs/push-kubevirt.github.io-main-build-and-push-to-gh-pages/1559192539473383424/build-log.txt

[code]

[2022-08-17 13:35] lyarwood commented on #862
https://github.com/gjtorikian/html-proofer/commit/58c882ef1401aec2968c32efb85b299ae5d8b08e

[2022-08-21 23:37] #835 closed

[2022-08-23 17:35] #862 closed

[2022-08-23 17:47] cwilkers commented on #859
Did you enable nested virtualization per the instructions in the lab?

[2022-09-14 14:07] cwilkers commented on #830
It looks like the cert is being renewed more proactively now:

Issued On	Monday, August 22, 2022 at 2:18:05 AM
Expires On	Sunday, November 20, 2022 at 1:18:04 AM

[2022-09-14 14:07] #830 closed

[2022-09-14 14:08] #831 closed

[2022-09-14 14:49] usrbinkat opened #870 "Update bug report template with information directing kubevirt technical problems to correct repo"
/kind enhancement

**What happened**:
users are not reminded to post technical bug reports to kubevirt/kubevirt issue board

**What you expected to happen**:
users to be reminded to post technmical issues to the correct place

**Anything else we need to know?**:
Recommend: updating bug_report.md template with guidance on the proper place to file technical issues with kubevirt

[2022-09-14 14:49] usrbinkat commented on #870
/cc @cwilkers

[2022-09-14 14:58] cwilkers commented on #846
/remove-lifecycle stale

Apologies for letting this sit so long. This is one of those "It works for me" kind of issues, so I'll need more information to help debug what is going on.

First, are you still getting the error?

Second, if you are, could you post the output from a `kubectl describe` of the pod in crashloop?

[2022-09-14 15:00] cwilkers commented on #859
So it turns out the instructions for enabling nested virtualization were deprecated, and no longer work as intended. Check https://github.com/kubevirt/kubevirt.github.io/pull/869 for the latest instructions.

[2022-09-14 15:54] #844 closed

[2022-09-21 15:36] angelalukic commented on #859
I am also encountering a similar issue on both the kind and minikube quickstarts and I'm pretty sure I have nested virtualisation enabled as per the below command output.

[code]

Running `kubectl -n kubevirt patch kubevirt kubevirt --type=merge --patch '{"spec":{"configuration":{"developerConfiguration":{"useEmulation":true}}}}` does not fix the issue.

[code]

[code]

[2022-09-26 20:37] cwilkers commented on #870
Hi @usrbinkat, It turns out I don't have admin access to this repo. I could submit a PR to project-infra to request this for the community team (currently myself and @aburdenthehand ) or we can appeal to @fabiand or another maintainer to take this issue on.

[2022-09-26 22:59] shorif2000 opened #872 "had volume node affinity conflic"
/kind bug

**What happened**:
Following this https://kubevirt.io/2019/How-To-Import-VM-into-Kubevirt.html and https://kubevirt.io/user-guide/operations/containerized_data_importer/ with help of https://www.datree.io/resources/kubernetes-troubleshooting-fixing-persistentvolumeclaims-error#anchor0 but cannot seem to deploy simple cirros image. there seems to be instructions missing.

keep getting er

[2022-09-29 21:34] nate-double-u opened #873 "Netlify: select a new build image"
Notice from Netlify

As reported via deploy logs:

All Netlify builds using the Xenial build image will begin failing in the week of November 15th, 2022.

https://app.netlify.com/sites/etcd/settings/deploys#build-image-selection

[2022-10-10 14:50] aburdenthehand opened #874 "KubeVirt Upgrade lab has old version references"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The upgrade lab has the 'v0.20.1' and 'v0.21.0' versions hardcoded. This version is pretty old by today's standard, as we are currently on v0.57.0 (with v0.58.0 releasing very soon).

**What you expected to happen**:
We should update the versions used to be more in keeping with modern times. As of time of writing that wou

[2022-10-10 22:52] dipesh-rawat commented on #874
@aburdenthehand Can you please assign this to me, so I can work to update the old version references.

[2022-10-13 20:50] cwilkers commented on #873
Thanks for raising this issue, I'll look into it!

[2022-10-15 15:54] cwilkers commented on #859
I am getting the same error trying the latest minikube and kubevirt versions. My minikube is using the kvm plugin, and even with the useEmulation developerConfiguration patched to true, I get a similar failure.

The minikube node "minikube" has the following `status.capacity`:
[code]

The virt-handler pod shows the following errors:
[code]

[2022-10-16 03:50] cwilkers commented on #859
Hello @KIRY4 @angelalukic ,

I was able to get kubevirt and the most recent minikube working, but there is definitely something wrong here that may well be down to my own workstation's OS version. Previous development of the minikube lab were done under Fedora 35 with minikube at around 1.25 and an old kubevirt in the 0.49 to 0.55 range.

I didn't go back that far in my testing, but on Fedora 36 w

[2022-10-19 16:14] mhenriks commented on #859
Testing with Fedora 36, kvm2 and the referenced yaml from the original post (https://kubevirt.io/labs/manifests/vm.yaml).

The issue seems to be related to the `masquerade` network setting.    Changing to `bridge` fixes the issue.

This appears to be the relevant error in virt-handler log when using masquerade:

[code]

[2022-10-20 19:07] cwilkers commented on #859
I can confirm that setting to bridge gets me up and running.

Others have mentioned that https://github.com/kubevirt/kubevirt/pull/8451 may fix KubeVirt's device initialization in the 1.25 version of Kubernetes we find in the latest Minikube.

[2022-11-11 12:55] aburdenthehand commented on #873
The build image has been updated for the website and we have confirmed that the new image builds successfully.

[2022-11-11 12:55] #873 closed